// CONTACT
#content{
    .module.contact{
        padding: 13rem $spacing--xxl $spacing--lg;
        background-image: linear-gradient(-180deg, $color-accent-2 0%, $color-accent-2 40%, $color-default-inverse 40%);
        position: relative;
        overflow: hidden;
        
        @include breakpoint (large only){
            padding: 13rem $spacing--lg $spacing--md;
        }//end large only breakpoint
        
        @include breakpoint (medium only){
            padding: 12rem $spacing--sm $spacing--md;
        }//end medium only breakpoint
        
        @include breakpoint (small only){
            background: none;
            padding: 14rem $spacing--xs $spacing--sm;
        }//end small only breakpoint

        &:before{
            @include pseudo;
            background: url(../images/compressed/wave-overlay-green-flipped.svg);
            background-size: auto;
            background-repeat: no-repeat;
            position: absolute;
            top: 38%;
            left:-5px;
            right: -5px;
            height: 100%;
            
            @include breakpoint (large only){
                top:39%;
            }//end large only breakpoint
            
            @include breakpoint (small only){
                background: none;
            }//end small only breakpoint
        }//end before
        
        .inner.expanded{
            max-width: $container;
            background-color: $color-default-inverse;
            padding: $spacing--md $spacing--xl $spacing--md 0;
            border-radius: $border-radius;
            box-shadow: $box-shadow-1;
            
            @include breakpoint (large only){
                padding: $spacing--md $spacing--lg $spacing--md 0;
            }//end large only breakpoint
            
            @include breakpoint (medium only){
                padding: $spacing--sm;
            }//end medium only breakpoint
            
            @include breakpoint (small only){
                padding: $spacing--xs;
            }//end small only breakpoint
            
            .row{
                .contact__map{
                    padding: 0;
                    border-radius: $border-radius;
                    border: 2px solid $grey-medium;
                    
                    .acf-map{
                        min-height: 300px;

                        h2{
                            font-size: $fontsize-h4;
                        }//end h2

                        p{
                            font-size: $fontsize-small;
                            line-height: $line-height-small;
                            margin-bottom: 0;
                        }// end p

                        .contact__popup{
                            padding: $spacing--xs;
                        }//end .contact__popup

                        .button{
                            margin-top: $spacing--xs;
                            fontsize: $fontsize-small;
                            padding: $spacing--xs $spacing--xs;
                        }//end button
                    }//end acf-map
                }//end .contact__map
                .contact__content{
                    .card{
                        padding: $spacing--lg $spacing--xxl $spacing--xxl;
                        
                        @include breakpoint (large only){
                            padding: $spacing--lg;
                        }//end large only breakpoint
                        
                        @include breakpoint (medium only){
                            padding: 0;
                            padding-right: $spacing--lg;
                        }//end medium only breakpoint
                        
                        @include breakpoint (small only){
                            padding: 0;
                        }//end small only breakpoint
                        
                        h1{
                            font-size: $fontsize-h2;
                            margin-bottom: $spacing--sm;
                            
                             @include breakpoint (medium down){
                                font-size: $fontsize-h3;
                                font-weight: $font-semibold;
                            }//end medium down breakpoint
                            
                            @include breakpoint (small only){
                                text-align: center;
                                padding-top: $spacing--xs;
                            }//end small only breakpoint
                        }//end h1
                        
                        p{
                            font-size: $fontsize-h3;
                            line-height: $line-height;
                            margin-bottom: 0;
                            
                            @include breakpoint (medium down){
                                font-size: $fontsize-regular;
                                line-height: $line-height-small;
                            }//end medium down breakpoint
                            
                            &:last-of-type{
                                color: $color-secondary;
                                
                                @include breakpoint (medium down){
                                    margin-bottom: $spacing--sm;

                                    a{
                                       text-decoration: none;
                                       color: $color-default-inverse;
                                       background: $gradient-purple;
                                       display: block;
                                       width: 100%;
                                       padding: $spacing--xs/2;
                                       text-align: center;
                                       border-radius: $border-radius;
                                       margin-top: $spacing--xs;
                                    }//end a
                                }//end medium down breakpoint
                            }//end last-of-type
                        }//end p
                    }//end .card
                }//end .contact__content
            }//end .row
        }//end .inner.expanded
    }//end module.contact
}//end #content