#content{
    .module.deck{
        &.deck--wildcard{
            position: relative;
            overflow: hidden;
            z-index: 0;
            
            @include breakpoint (small only){
                z-index: 1;
            }//end small only breakpoint
            .inner.expanded{
                .module__header{
                    display: none;
                    position: relative;
                    z-index: 1;
                    
                    @include breakpoint (small only){
                        display: block;
                    }//end small only breakpoint
                    
                    h1{
                        font-size: $fontsize-h2;
                        text-align: center;
                        color: $color-accent-3;
                        padding-top: $spacing--xs;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }//end h1
                    
                    &:after{
                        @include pseudo;
                        height: $spacing--lg;
                        bottom: -$spacing--xs;
                        left: -$spacing--sm;
                        right: -$spacing--sm;
                        border-radius: 50%;
                        background-color: $color-default-inverse;
                        z-index: -1;
                    }//end after
                }//end module__header
                .row{
                    .card--wildcard{
                        margin-bottom: 0;
                        padding: 0;
                        &:first-of-type{
                            .wildcard__holder{
                                background: url(../images/compressed/Cumberland-interior.min.jpg);
                                background-size: cover;
                                background-position: right top;
                                background-repeat: no-repeat;
                                
                                @include breakpoint (small only){
                                    min-height: 200px;
                                    background-size: 150%;
                                    background-position: 85% 80%;
                                }//end small only breakpoint
                                img{
                                    display: none;
                                }
                            }//end .wildcard__holder
                        }//end first-of-type
                        &:last-of-type{
                            @include breakpoint (small only){
                                padding: 0 $spacing--xs $spacing--xs;
                                overflow: visible;
                            }//end small only
                           .wildcard__holder{
                                background: $color-default-inverse;
                                padding: $spacing--xxl $spacing--xxl 13rem $spacing--lg;
                                max-width: $container/2;
                                margin-bottom: 0;
                                
                                @include breakpoint (large only){
                                    padding: $spacing--xl $spacing--md 9rem $spacing--lg;
                                }//end large only breakpoint
                                
                                @include breakpoint (medium only){
                                    padding: $spacing--sm $spacing--md 8rem;
                                }//end medium only breakpoint
                                
                                @include breakpoint (small only){
                                    padding: $spacing--xs;
                                    margin-top: -$spacing--sm;
                                    box-shadow: $box-shadow-1;
                                    border-radius: $border-radius;
                                }//end small only breakpoint
                                .wildcard__header{
                                    font-size: $fontsize-h1;
                                    color: $color-accent-3;
                                    margin-bottom: $spacing--md;
                                    
                                    @include breakpoint (large only){
                                        font-size: 4rem;
                                        margin-bottom: $spacing--sm;
                                    }//end medium only breakpoint
                                    
                                    @include breakpoint (medium only){
                                        font-size: $fontsize-h2;
                                        margin-bottom: $spacing--xs;
                                    }//end medium only breakpoint
                                    
                                    @include breakpoint (small only){
                                        display: none;
                                    }//end small only breakpoint
                                }//end .wildcard__header

                                .wildcard__paragraph{
                                    color: $grey-dark;
                                    font-size: $fontsize-h3;
                                    line-height: 2.3333333rem;
                                    margin-bottom: $spacing--xl;
                                    max-width: 508px;
                                    
                                    @include breakpoint (large only){
                                        margin-bottom: $spacing--sm;
                                    }//end large only breakpoint
                                    
                                    
                                    @include breakpoint (medium only){
                                        font-size: $fontsize-regular;
                                        line-height: 2rem;
                                        margin-bottom: $spacing--sm;
                                    }//end medium only breakpoint
                                    
                                    @include breakpoint (small only){
                                        font-size: $fontsize-small;
                                        line-height: $line-height-small;
                                        margin-bottom: $spacing--sm;
                                    }//end small only breakpoint
                                }//end .wildcard__paragraph
                                
                                .button--wildcard{
                                    background: $gradient-purple;
                                    text-decoration: none;
                                    font-size: $fontsize-h3;
                                    font-weight: $font-medium;
                                    border-radius: $border-radius;
                                    box-shadow: $box-shadow-1;
                                    margin-right: $spacing--sm;
                                    padding: $spacing--xs $spacing--sm;
                                    line-height: 28px;
                                    @include transition;
                                    
                                    @include breakpoint (large only){
                                        width: 49%;
                                        margin-right: 2%;
                                        padding: $spacing--xs;
                                    }//end large only breakpoint
                                    
                                    @include breakpoint (medium only){
                                        width: 100%;
                                        margin-right: 0;
                                        margin-bottom: $spacing--sm;
                                        font-size: $fontsize-regular;
                                        line-height: $fontsize-regular;
                                    }//end medium only breakpoint
                                    
                                    @include breakpoint (small only){
                                        width: 100%;
                                        margin-right: 0;
                                        margin-bottom: $spacing--xs;
                                        font-size: $fontsize-regular;
                                        line-height: $fontsize-regular;
                                    }//end small only breakpoint
                                    
                                    &:hover{
                                        transform:scale(1.03);
                                        box-shadow: $box-shadow-2;
                                        @include transition;
                                    }//end hover
                                    
                                    &:last-of-type{
                                        margin-right: 0;
                                        background: transparent;
                                        color: $color-accent-1;
                                        border: 3px solid $color-accent-1;
                                        box-shadow: none;
                                        padding: 13.5px $spacing--sm;
                                    }//end first-of-type
                                }//end .button--wildcard
                            }//end .wildcard__holder 
                        }//end .card--wildcard:last-of-type
                    }//end .card--wildcard
                }//end .row
            }//end .inner.expanded
        }//end wildcard
        &.deck--business{
            position: relative;
            background: $color-accent-2;
            padding-top: $spacing--lg;
            padding-bottom: $spacing--xl;
            
            @include breakpoint (large only){
                padding-top: 0;
                padding-bottom: $spacing--md;
            }//end large only breakpoint
            
            @include breakpoint (medium only){
                padding-top: 0;
                padding-bottom: $spacing--sm;
            }//end medium only breakpoint
            
            @include breakpoint (small only){
                padding-top: $spacing--xs;
                padding-bottom: 0;
            }//end small only breakpoint
            
            &:before{
                @include pseudo;
                background: url(../images/compressed/wave-overlay-green.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                top: -135px;
                left:0;
                right: 0;
                height: 100%;
                
                @include breakpoint (large only){
                    top: -105px;
                }//end large only breakpoint
                
                @include breakpoint (medium only){
                    top: -90px;
                }//end medium only breakpoint
                
                @include breakpoint (small only){
                    top: -45px;
                }//end small only breakpoint
            }//end before
            
            .inner.expanded{
                padding: 0;
                @include inner;
                @include innerpadding ($p-small: $spacing--xs, $p-medium: $spacing--xs/2, $p-large: $spacing--md, $p-xlarge: $spacing--md, $p-xxlarge: $spacing--lg);
                
                .module__header{
                    h1{
                        color: $color-default-inverse;
                        text-align: center;
                        font-size: $fontsize-h2;
                        line-height: 3.8rem;
                        max-width:764px;
                        margin: auto;
                        margin-bottom: $spacing--xl;
                        
                        @include breakpoint (large only){
                            margin-bottom: $spacing--md;
                        }//end large only breakpoint
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-h3;
                            margin-bottom: $spacing--sm;
                            max-width: 458px;
                            line-height: $line-height;
                        }//end medium down breakpoint
                        
                        @include breakpoint (small only){
                            text-align: left;
                        }//end small only breakpoint
                    }//end h1
                }//end .module__header
                
                .row{
                    .card--business{
                        padding: 0 $spacing--sm;
                        overflow: visible;
                        
                        @include breakpoint (large only){
                            padding: 0 $spacing--xs;
                        }//end large only breakpoint
                        
                        @include breakpoint (medium only){
                            padding: 0 $spacing--md/2;
                        }//end medium only breakpoint
                        
                        @include breakpoint (small only){
                            width: 50%;
                            clear: none;
                            padding: 0 $spacing--xs;
                            margin-bottom: $spacing--sm;
                        }//end small only breakpoint
                        
                        .card__holder{
                            text-decoration: none;
                            display: block;
                            background: $color-default-inverse;
                            border-radius: $border-radius;
                            box-shadow: $box-shadow-1;
                            min-height: 156px;
                            overflow: hidden;
                            @include transition;
                            
                            &:hover{
                                transform:scale(1.03);
                                box-shadow: $box-shadow-2;
                                @include transition;
                            }//end hover
                               
                            .card__image{
                                position: relative;
                                
                                &:after{
                                    @include pseudo;
                                    height: 45px;
                                    border-radius: 50%;
                                    box-shadow: 0 15px 0 0 $color-default-inverse;
                                    bottom: 0;
                                    left: -10px;
                                    right: -10px;
                                }//end :after
                            }//end .card__image
                            
                            .card__info--business{
                                padding-top: $spacing--xs;
                                padding-bottom: $spacing--sm;
                                
                                @include breakpoint (medium down){
                                    padding: $spacing--xs
                                }//end medium down breakpoint
                                    
                                .card__header{
                                    font-size: $fontsize-h3;
                                    font-weight: $font-semibold;
                                    text-align: center;
                                    margin-bottom: $spacing--sm;
                                    padding: 0 $spacing--xs/2;
                                    
                                    @include breakpoint (large only){
                                        font-size: $fontsize-h4;
                                    }//end large only breakpoint
                                    
                                    @include breakpoint (medium down){
                                        font-size: $fontsize-regular;
                                        margin-bottom: 0;
                                        line-height: 22px;
                                        padding: 0;
                                    }//end medium down breakpoint
                                    
                                    &:after{
                                        content: '\f105';
                                        font-family: 'FontAwesome';
                                        display: inline-block;
                                        font-size: $fontsize-h3;
                                        color: $color-primary;
                                        margin-left: $spacing--xs;
                                        font-weight: $font-regular;
                                    }//end :after
                                    
                                }//end .card__header
                                
                                .card__secondary{
                                    color: $color-default;
                                    font-size: $fontsize-small;
                                    line-height: $line-height-small;
                                    text-align: center;
                                    margin-bottom: 0;
                                    padding: 0 $spacing--sm;
                                    
                                    @include breakpoint (medium down){
                                        display: none;
                                        padding: 0;
                                    }//end medium down breakpoint
                                }//end .card__secondary
                            }//end .card__info--business
                        }//end .card__holder
                    }//end .card--business
                }//end .row
            }//end .inner.expanded
        }//end .deck--business
    }//end .module.deck
    
    .wrapper.grey-background{
        background-color: $grey-light;
        .module.wysiwyg{
            padding: $spacing--lg 0;
            
            @include breakpoint (medium down){
                padding: $spacing--sm 0;
            }//end medium down breakpoint
            .inner{
                @include inner;
                .entry-content{
                    padding: 0;
                    h2{
                        text-align: center;
                        margin-bottom: $spacing--sm;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-h3;
                            font-weight: $font-semibold;
                        }//end medium down breakpoint
                        
                        @include breakpoint (small only){
                            margin-bottom: $spacing--xs;
                        }//end small only breakpoint
                    }//end h2
                    
                    p{
                        text-align: center;
                        font-weight: $font-medium;
                        font-size: $fontsize-h3;
                        color: $grey-dark;
                        margin-bottom: 0;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-regular;
                        }//end medium down breakpoint
                    }//end p
                }//end entry-content
            }//end inner
        }//end .module.wysiwg
        
        .module.deck--icon{
            margin-top: 46.5px;
            
            @include breakpoint (medium only){
                margin-top: 0;
            }//end medium only breakpoint
            .inner.expanded{
                @include inner;
                @include innerpadding ($p-small: $spacing--xs, $p-large: $spacing--md, $p-xlarge: $spacing--md, $p-xxlarge: $spacing--lg);
                .row{
                    .card--icon{
                        padding: 0 $spacing--lg;
                        overflow: visible;
                        
                        @include breakpoint (xlarge only){
                            padding: 0 $spacing--sm;
                            margin-bottom: 0;
                        }//end medium only breakpoint
                        
                        @include breakpoint (large only){
                            padding: 0 $spacing--xs;
                            margin-bottom: 0;
                        }//end medium only breakpoint
                        
                        @include breakpoint (medium only){
                            padding: 0 $spacing--sm;
                            margin-bottom: $spacing--sm;
                        }//end medium only breakpoint
                        
                        @include breakpoint (small only){
                            padding: 0;
                            margin-bottom: $spacing--xxl;
                            
                            &:last-of-type {
                                margin-bottom: 0;
                            }//end last of type
                        }//end small only breakpoint
                        
                        .card__holder{
                            background-color: $color-default-inverse;
                            border-radius: $border-radius;
                            box-shadow: $box-shadow-1;
                            position: relative;
                            padding: $spacing--xl $spacing--sm $spacing--sm;
                            
                            @include breakpoint (medium only){
                                padding: $spacing--sm 100px $spacing--md $spacing--md;
                            }//end medium only breakpoint
                            
                            .card__image{
                                position: absolute;
                                top: -46.5px;
                                left: 0;
                                right: 0;
                                text-align: center;
                                
                                @include breakpoint (medium only){
                                    position: relative;
                                    float: left;
                                    display: inline-block;
                                    top: 0;
                                    margin-bottom: 20px;
                                }//end medium only breakpoint
                            }//end .card__image
                            
                            .card__header{
                                font-size: $fontsize-h3;
                                font-weight: $font-semibold;
                                color: $color-secondary;
                                text-align: center;
                                margin-bottom: $spacing--sm;
                                
                                @include breakpoint (medium only){
                                    text-align: left;
                                    float: left;
                                    display: inline-block;
                                    padding: $spacing--sm;
                                    margin-bottom: 0;
                                }//end medium only breakpoint
                                
                                @include breakpoint (small only){
                                    margin-bottom: $spacing--xs;
                                }//end small only
                            }//end .card__header
                            
                            .card__secondary{
                                margin-bottom: $spacing--sm;
                                line-height: $line-height-small;
                                padding-right: $spacing--xs;
                                color: $color-default;
                                
                                @include breakpoint (medium only){
                                    clear: left;
                                }//end medium only breakpoint
                            }//end .card__secondary
                            
                            .button--icon{
                                display: block;
                                max-width: 168px;
                                margin: auto;
                                color: $color-secondary;
                                border: 3px solid $color-secondary;
                                background: transparent;
                                
                                @include breakpoint (medium only){
                                    display: inline-block;
                                }//end medium only breakpoint
                            }//end .button--icon
                        }//end card__holder
                        
                        &:nth-of-type(2n){
                            .card__holder{
                                .card__header{
                                    color: $color-accent-1;
                                }//end .card__header(2n)
                                
                                .button--icon{
                                    color: $color-accent-1;
                                    border-color: $color-accent-1;    
                                }//end .button--icon(2n)
                            }//end .card__holder(2n)
                        }//end :nth-of-type(2n)
                        
                        &:nth-of-type(3n){
                            .card__holder{
                                .card__header{
                                    color: $color-primary;
                                }//end .card__header(3n)
                                
                                .button--icon{
                                    color: $color-primary;
                                    border-color: $color-primary;   
                                }//end .button--icon(3n)
                            }//end .card__holder(23n)
                        }//end :nth-of-type(3n)
                    }//end .card--icon
                }//end .row
            }//end .inner.expanded
        }//end .module.deck--icon
    }//end .wrapper.grey-background
    
    .module.deck--icon{
        
        &.testimonial{  
            margin-top: 0;
            padding: $spacing--lg 0;
           
            @include breakpoint (large down){
                padding: $spacing--md 0;
            }//end large down breakpoint
            
            @include breakpoint (small only){
                padding: $spacing--md 0 0;
            }//end small only breakpoint
            
            .inner.expanded{
                @include inner;
                @include innerpadding;
                .row{
                    .card--icon{
                        padding: 0;
                        overflow: visible;
                        margin-bottom: 0;
                        
                        .card__holder{
                            background-color: $color-default-inverse;
                            border-radius: $border-radius;
                            box-shadow: $box-shadow-1;
                            position: relative;
                            padding: $spacing--xl $spacing--lg $spacing--md;
                            
                            @include breakpoint (medium down){
                                font-size: $fontsize-regular;
                                line-height: 2rem;
                                padding: $spacing--lg $spacing--lg $spacing--sm;
                            }//end medium down breakpoint
                            
                            @include breakpoint (small only){
                                padding: $spacing--lg $spacing--xs $spacing--sm;
                            }//end small only breakpoint
                            .card__image{
                                position: absolute;
                                top: -46.5px;
                                left: 0;
                                right: 0;
                                text-align: center;
                            }//end .card__image
                            
                            .card__header{
                            }//end .card__header
                            
                            .card__secondary{
                                
                                h3{
                                    color: $color-accent-1;
                                    text-align: center;
                                    font-family: $font-body;
                                    margin: 0 auto $spacing--xs;
                                    max-width: 817px;
                                    
                                    @include breakpoint (medium down){
                                        font-size: $fontsize-regular;
                                        font-weight: $font-medium;
                                        line-height: 2rem;
                                    }//end medium down breakpoint
                                    
                                    @include breakpoint (small only){
                                        line-height: $line-height-small;
                                    }//end small only breakpoint
                                }//end h3
                                
                                p{
                                    color: $grey-dark;
                                    text-align: center;
                                    margin-bottom: 0;
                                    
                                    strong{
                                        font-weight: $font-medium;
                                    }//end strong
                                }//end p
                            }//end .card__secondary
                        }//end card__holder
                    }//end .card--icon
                }//end .row
            }//end .inner.expanded
            
            &.blue .inner.expanded .row .card--icon .card__holder .card__secondary h3{
                color: $color-primary;
            }//end blue h3
        }//end testimonial
        
        &.two-up{
            background-image: linear-gradient(90deg, #FCFCFC 50%, $grey-light 50%, $grey-light 100%);
            padding: 0;
            margin: 0;
            
            @include breakpoint (small only){
                background: none;
            }//end small only breakpoint
            .inner.expanded{
                max-width: $container;
                padding: 0;
                
                .row{
                    .card--icon{
                        padding: 0;
                        margin-bottom: 0;
                            
                        .card__holder{
                            padding: $spacing--lg $spacing--xxl;
                            
                            @include breakpoint (large only){
                                padding: $spacing--lg;
                            }//end large only breakpoint
                            
                            @include breakpoint (medium down){
                                padding: $spacing--sm;
                            }//end medium only breakpoint
                            .card__image{
                                float: right;
                                
                                @include breakpoint (medium down){
                                    img{
                                        height: 45px;
                                        width: auto;
                                    }//
                                }//end medium only breakpoint
                            }//end .card__image
                            
                            .card__header{
                                margin-bottom: $spacing--lg;
                                
                                @include breakpoint (large only){
                                    margin-bottom: $spacing--md;
                                }//end large only breakpoint
                                
                                @include breakpoint (medium down){
                                    font-size: $fontsize-h3;
                                    font-weight: $font-semibold;
                                    margin-bottom: $spacing--sm;
                                }//end medium only breakpoint
                            }//end .card__header
                            
                            .card__secondary{
                                margin-bottom: $spacing--lg;
                                
                                @include breakpoint (large only){
                                    margin-bottom: $spacing--md;
                                }//end large only breakpoint
                                
                                @include breakpoint (medium down){
                                    margin-bottom: $spacing--sm;
                                    line-height: $line-height-small;
                                    
                                    p{
                                        font-size: $fontsize-regular;
                                    }//end p
                                }//end medium only breakpoint
                            }//end .card__secondary
                            
                            .button{
                                color: $color-primary;
                                border: 3px solid $color-primary;
                                background: transparent;
                                padding: $spacing--xs $spacing--sm;
                            }//end .button
                        }//end .card__holder
                        
                        &:last-of-type{
                            @include breakpoint (small only){
                                background:$grey-light;
                            }//end small only breakpoint
                            .card__holder{
                                .card__header{
                                    color: $color-secondary;
                                }//end card__header
                                
                                .button{
                                    color: $color-secondary;
                                    border-color: $color-secondary;
                                }//end button
                            }//end card__holder
                        }//end last of type
                    }//end .card--icon
                }//end .row
            }//end .inner.expanded
        }//end .two-up
    }//end .module.deck--icon
}//end #content

