// Duo //

.module.duo{
    .inner.expanded{
        max-width: $container;
        
        @include breakpoint (small only){
            padding: 0 $spacing--xs;
        }//end small only
        .module__header{
            h1{
                text-align: center;
                font-size: $fontsize-h2;
                color: $color-accent-1;
                margin-bottom: $spacing--lg;
                
                @include breakpoint (medium only){
                    font-size: $fontsize-h3;
                    font-weight: $font-semibold;
                    margin-bottom: $spacing--sm;
                }//end medium only breakpoint
            }//end h1
        }//end .module__header
        .duo__content{
            
            @include breakpoint (1500px){
                &.duo__content--left{
                    padding-left: 0;
                }//end left

                &.duo__content--right{
                    padding-right: 0;
                }//end left
            }//end xxlarge breakpoint
            
            padding: $spacing--md $spacing--xxl;
                
                @include breakpoint (xlarge only){
                    padding: $spacing--md $spacing--xxl;
                }//end xlarge only breakpoint
                
                @include breakpoint (large only){
                    padding: $spacing--md $spacing--md;
                }//end large only breapoint
                
                @include breakpoint (medium only){
                    padding: $spacing--md $spacing--md $spacing--sm;
                }//end medium only breapoint
                
                @include breakpoint (small only){
                    padding: $spacing--lg $spacing--xs $spacing--sm;
                    box-shadow: $box-shadow-1;
                    overflow: visible;
                    border-radius: $border-radius;
                    position: relative;
                }//end small only breapoint
                
            .card{
                margin-bottom: 0;
                
                .card__secondary{
                    a{
                        text-decoration: none;
                        &:after{
                            content: '\f105';
                            font-family: 'FontAwesome';
                            display: inline-block;
                            font-size: $fontsize-h3;
                            color: $color-primary;
                            margin-left: $spacing--xs;
                            margin-bottom: $spacing--xs;
                            font-weight: $font-regular;
                            @include transition;
                        }//end :after
                        
                        &:hover:after{
                            margin-left: 20px;
                            @include transition;
                        }//end hover:after
                    }//end a
                    
                    p{
                        margin-bottom: $spacing--sm;
                        
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-regular;
                            line-height: $line-height-small;
                        }//end medium down breakpoint
                    }//end p
                    
                    h2{
                        margin-bottom: $spacing--xs;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-h3;
                            font-weight: $font-semibold;
                            line-height: $fontsize-h3;
                        }//end medium down breapoint
                        
                        @include breakpoint (small only){
                            margin-bottom: 0;
                        }//end small only

                        a{
                            &:after{
                                font-size: $fontsize-h2;
                                @include transition

                                @include breakpoint (medium down){
                                    font-size: $fontsize-h3;
                                }//end medium only breapoint
                            }//end a:after
                            
                            &:hover:after{
                                margin-left: 20px;
                                @include transition;
                            }//end hover:after
                        }//end a
                    }//end h2
                    
                    ul{
                        text-align: left;
                        
                        @include breakpoint (medium only){
                            line-height: $line-height-small;
                        }//end medium only breakpoint
                        
                        @include breakpoint (small only){
                            font-size: $fontsize-small;
                            line-height: $line-height-small;
                        }//end small only breakpoint
                    }//end ul
                }//end .card__secondary
            }//end .card
        }//end .duo__content
    }//end .inner.expanded
    
    &.first-module{
        margin-top: $spacing--md*3;
        
        @include breakpoint (medium only){
            padding-top: 0;
        }//end small only breapoint
        
        @include breakpoint (small only){
            margin-top: 17rem;
        }//end small only breapoint
      
        .duo__media{
            .duo__img{
                position:relative;
                &:before{
                    @include pseudo;
                    top: 0;
                    right:0;
                    bottom:0;
                    left:0;
                    background-image: linear-gradient(-180deg, #FFFFFF 5%, rgba(216,216,216,0.00) 32%);
                }//end :before
            }//end .duo__img
        }//end duo__media
    }//end .first-module

    &.green{
         .inner.expanded .duo__content .card .card__secondary h2 a{
            color: $color-secondary;
            &:after{
                color: $color-secondary;
                font-size: $fontsize-h2;
                
                @include breakpoint (medium down){
                    font-size: $fontsize-h3;
                }//end medium down breapoint
            }//end :after
        }//end h2 a
    }//end .green
    
    &.purple{
         .inner.expanded .duo__content .card .card__secondary h2 a{
            color: $color-accent-1;
            &:after{
                color: $color-accent-1;
                font-size: $fontsize-h2;
                
                @include breakpoint (medium down){
                    font-size: $fontsize-h3;
                }//end medium down breapoint
            }//end :after
        }//end h2 a
    }//end .green
    
    &.with-spacing{
        padding-top: 13rem;
        padding-bottom: $spacing--lg;
        background-image: linear-gradient(-180deg, $color-primary 0%, $color-primary 40%, $color-default-inverse 40%);
        position: relative;
        overflow: hidden;
        
        @include breakpoint (medium only){
            padding-bottom: $spacing--sm;
            padding-top: 12rem;
        }//end medium only breakpoint
        
        @include breakpoint (small only){
            background: none;
            padding-top: 14rem;
            padding-bottom: $spacing--sm;
        }//end small only breakpoint
                                    
        &:before{
            @include pseudo;
            background-size: 100%;
            background-image: url(../images/compressed/wave-overlay-blue.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: 38%;
            left:-5px;
            right: -5px;
            height: 100%;
            
            @include breakpoint (small only){
                display: none;
            }//end small only breakpoint
        }//end before
        
        &.green{
            background-image: linear-gradient(-180deg, $color-accent-2 0%, $color-accent-2 40%, $color-default-inverse 40%);
            @include breakpoint (small only){
            background: none;
        }//end small only breakpoin
            &:before{
                background-image: url(../images/compressed/wave-overlay-green-flipped.svg);
                
                @include breakpoint (small only){
                    display: none;
                }//end small only breakpoint
            }//end before
            .inner.expanded .duo__content .card .card__header{
                color: $color-secondary;
                @include breakpoint (small only){
                    text-align: center;
                }//end small only breakpoint
            }//end card__header
            .inner.expanded .duo__content .card .button{
                color: $color-secondary;
                border-color: $color-secondary;
            }//end .button
        }//end .green
        
        &.purple{
            background-image: linear-gradient(-180deg, $color-accent-4 0%, $color-accent-4 40%, $color-default-inverse 40%);
            
            @include breakpoint (small only){
                background: none;
            }//end small only breakpoint
            &:before{
                background-image: url(../images/compressed/wave-overlay-purple.svg);
                
                @include breakpoint (small only){
                    display: none;
                }//end small only breakpoint
            }//end before
            .inner.expanded .duo__content .card .card__header{
                color: $color-accent-1;
                @include breakpoint (small only){
                    text-align: center;
                }//end small only breakpoint
                
            }//end card__header
            .inner.expanded .duo__content .card .button{
                color: $color-accent-1;
                border-color: $color-accent-1;
            }//end .button
        }//end .purple
        
        &.no-background{
            background: none;
            padding: $spacing--lg 0;
            overflow: visible;
            
            &.no-bottom{
                padding-bottom: 0;
            }//end no-bottom
            
            @include breakpoint (medium only){
                padding: $spacing--sm 0;
            }//end medium only breakpoint
            
            line-height: $line-height-small;
            &:before{
                display: none;
            }
        }//end no-background
        
        .inner.expanded{
            @include inner;
            @include innerpadding ($p-small: 0, $p-medium: $spacing--xs, $p-large: $spacing--sm, $p-xlarge: $spacing--lg, $p-xxlarge: $spacing--lg)
            
            
            .duo__media{
                padding: 0 $spacing--sm;
                
                @include breakpoint (medium only){
                    padding: 0 $spacing--xs;
                }//end medium only breapoint
                
                @include breakpoint (small only){
                    padding: 0;
                }//end small only breapoint
                .duo__img{
                    border-radius: $border-radius;
                    overflow: hidden;
                    min-height: 157px;
                }//end .duo__img
            }//end .duo__media
            
            .duo__content{
                padding: 0 $spacing--sm;
                
                @include breakpoint (medium down){
                    padding: 0 $spacing--xs;
                }//end medium down breapoint
                
                @include breakpoint (small only){
                    margin-top: -$spacing--sm;
                }//end small only
                
                .card{
                    background-color: $color-default-inverse;
                    padding: $spacing--md;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow-1;
                    
                    @include breakpoint (medium only){
                        padding: $spacing--sm;
                    }//end medium only
                    
                    @include breakpoint (small only){
                        text-align: center;
                        padding: $spacing--xs;
                        padding-bottom: $spacing--sm;
                    }//end small only
                    
                    .card__header{
                        font-size: $fontsize-h2;
                        color: $color-accent-1;
                        margin-bottom: $spacing--md;
                        
                        @include breakpoint (medium down){
                            font-weight: $font-semibold;
                            font-size: $fontsize-h3;
                            margin-bottom: $spacing--xs;
                        }//end medium down breapoint
                    }//end .card__header
                    
                    .card__secondary{
                        margin-bottom: $spacing--md;
                        
                        @include breakpoint (medium down){
                            p{
                                line-height: $line-height-small;
                            }//end p
                            margin-bottom: $spacing--sm;
                        }//end medium down breapoint
                        
                        @include breakpoint (small only){
                            p{
                                font-size: $fontsize-small;
                                text-align: left;
                            }//end p
                        }//end small only breakpoint
                    }//end .card__secondary
                    
                    .button{
                        background: transparent;
                        color: $color-primary;
                        text-decoration: none;
                        font-size: $fontsize-h3;
                        font-weight: $font-medium;
                        border-radius: $border-radius;
                        border: 3px solid $color-primary;
                        padding: 13.5px 2.666667rem;
                        line-height: 28px;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-regular;
                            line-height: $fontsize-regular;
                        }//end medium only breapoint
                    }//end .button
                }// end .card
            }//end .duo__media
        }//end inner.expanded
    }//end with-spacing
    
    &.contact-form{
        padding-bottom: $spacing--xl;
        
        @include breakpoint (medium only){
            padding-bottom: $spacing--md;
        }//end medium only breakpoint
        
        @include breakpoint (small only){
            padding-bottom: $spacing--sm;
        }//end small only breakpoint
        .inner.expanded{
            @include inner;
            @include innerpadding ($p-small: 0, $p-large: $spacing--sm, $p-xlarge: $spacing--md, $p-xxlarge: $spacing--lg);
            
            .duo__media{
                padding: 0 $spacing--sm;
                
                @include breakpoint (medium only){
                    padding: 0 $spacing--xs;
                    display: none;
                }//end medium only breapoint
                
                @include breakpoint (small only){
                    padding: 0;
                }//end small only breakpoint
                
                .duo__img{
                    border-radius: $border-radius;
                    overflow: hidden;
                    min-height: 157px;
                    
                    @include breakpoint (small only){
                        border-radius: 0;
                    }//end small only breakpoint
                }//end .duo__img
            }//end .duo__media
            
            .duo__content{
                padding: 0 $spacing--sm;
                
                @include breakpoint (medium only){
                    padding: 0;
                    width: 100%;
                }//end medium only breapoint
                
                @include breakpoint (small only){
                    padding: 0 $spacing--xs;
                    margin-top: -$spacing--sm;
                }//end small only breakpoint
                
                .card{
                    background-color: $color-default-inverse;
                    padding: $spacing--md;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow-1;
                    
                    @include breakpoint (medium only){
                        padding: $spacing--sm;
                    }//end medium only breapoint
                    
                    @include breakpoint (small only){
                        padding: $spacing--sm $spacing--xs;
                    }//end small only breapoint
                    
                    
                    .card__header{
                        font-size: $fontsize-h2;
                        color: $color-accent-1;
                        margin-bottom: $spacing--sm;
                        
                        @include breakpoint (medium down){
                            font-weight: $font-semibold;
                            font-size: $fontsize-h3;
                            margin-bottom: $spacing--xs;
                        }//end medium down breapoint
                        
                        @include breakpoint (small only){
                            text-align: center;
                        }//end small only breapoint
                    }//end .card__header
                    
                    .card__secondary{
                        margin-bottom: 0;
                        
                        p{
                            margin-bottom: $spacing--sm;
                            
                            @include breakpoint (medium only){
                                line-height: $line-height-small;
                            }//end medium only breapoint
                            
                            &:last-of-type{
                                margin-bottom: 0;
                            }//end last of type
                        }//end p
                    }//end .card__secondary
                    
                }// end .card
            }//end .duo__media
        }//end inner.expanded
    }//end .contact-form
    &.duo--gallery{
        padding-top: 13rem;
        background-image: linear-gradient(-180deg, $color-primary 0%, $color-primary 40%, $color-default-inverse 40%);
        position: relative;
        overflow: hidden;
        padding-bottom: $spacing--lg;
        
        @include breakpoint (medium only){
            padding-top: 12rem;
            padding-bottom: $spacing--md;
        }//end medium only breapoint
        
        @include breakpoint (small only){
            background: none;
            padding-top: 14rem;
            padding-bottom: $spacing--sm;
        }//end medium only breapoint
        
        &:before{
            @include pseudo;
            background: url(../images/compressed/wave-overlay-blue.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            position: absolute;
            top: 38%;
            left:-5px;
            right: -5px;
            height: 100%;
            
            @include breakpoint (small only){
                display: none;
            }//end medium only breapoint
        }//end before
        
        .inner.expanded{
            @include innerpadding ($p-small: 0, $p-medium: $spacing--xs, $p-large: $spacing--sm, $p-xlarge: $spacing--md, $p-xxlarge: $spacing--lg);
            
            .duo__media{
                padding: 0 $spacing--sm;
                min-height: 216px; 
                
                @include breakpoint (medium only){
                    padding: 0 $spacing--sm;
                }//end medium only breapoint
                
                @include breakpoint (small only){
                    background: none;
                    padding: 0;
                }//end small only breapoint

                .slider__container{
                    .bx-wrapper{
                        .bx-viewport{
                            border-radius: $border-radius;
                            overflow: hidden;
                            
                            @include breakpoint (small only){
                                border-radius: 0;
                            }//end small only breapoint
                
                            .slide--duo{
                                margin-bottom: 0;
                                min-height: 216px;
                            }//end slide--duo
                        }//end bx-viewport
                        .bx-controls{
                            .bx-controls-direction{
                                a{
                                    background: $color-default-inverse;
                                    border-radius: 50%;
                                    width: $spacing--md;
                                    height: $spacing--md;
                                    text-indent: 0;
                                    text-align: center;
                                    font-weight: bold;
                                    font-size: 2rem;
                                    line-height: 1.5;
                                    box-shadow: $box-shadow-2;
                                    @include transition;
                                    
                                    &:hover{
                                        @include transition;
                                        transform: scale(1.03);
                                        box-shadow: $box-shadow-2;
                                    }//end hover
                                    
                                    &.bx-prev{
                                        left: -$spacing--md/2;
                                        
                                        @include breakpoint (small only){
                                            left: $spacing--xs;
                                        }//end small only breapoint
                                    }//end .bx-prev
                                
                                    &.bx-next{
                                        right: -$spacing--md/2;
                                        
                                        @include breakpoint (small only){
                                            right: $spacing--xs;
                                        }//end small only breapoint
                                    }//end .bx-next
                                }//end a
                            }//end .bx-controls-direction
                        }//end .bx-controls
                    }//end .bx-wrapper
                    
                }//end .slider__container
            }//end .duo__media
            
            .duo__content{
                padding: 0 $spacing--sm;
                
                @include breakpoint (medium down){
                    padding: 0 $spacing--xs;
                }//end medium only breapoint
                
                @include breakpoint (small only){
                    margin-top: -$spacing--sm;
                    position: relative;
                    z-index: 1;
                }//end small only breapoint
                
                .card{
                    background-color: $color-default-inverse;
                    padding: $spacing--md;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow-1;
                    
                    @include breakpoint (medium only){
                        padding: $spacing--sm;
                    }//end medium only breapoint
                    
                    @include breakpoint (small only){
                        padding: $spacing--sm $spacing--xs;
                        text-align: center;
                    }//end small only breapoint
                    
                    .card__header{
                        font-size: $fontsize-h2;
                        color: $color-primary;
                        margin-bottom: $spacing--md;
                        
                        @include breakpoint (medium down){
                            font-weight: $font-semibold;
                            font-size: $fontsize-h3;
                            margin-bottom: $spacing--xs;
                        }//end medium only breapoint
                        
                        @include breakpoint (small only){
                            text-align: center;
                            max-width: 200px;
                            margin:0 auto $spacing--xs;
                        }//end small only breakpoint
                    }//end .card__header
                    
                    .card__secondary{
                        margin-bottom: $spacing--md;
                        
                        @include breakpoint (medium down){
                            line-height: $line-height-small;
                            margin-bottom: $spacing--sm;
                        }//end medium down breapoint
                        
                        @include breakpoint (small only){
                            p{
                                text-align: left;
                            }//end p
                        }//end small only breapoint
                    }//end .card__secondary
                    
                    .button{
                        background: transparent;
                        color: $color-primary;
                        text-decoration: none;
                        font-size: $fontsize-h3;
                        font-weight: $font-medium;
                        border-radius: $border-radius;
                        border: 3px solid $color-primary;
                        padding: 13.5px $spacing--sm;
                        line-height: 28px;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-regular;
                            line-height: $fontsize-regular;
                        }//end medium only breapoint
                    }//end .button
                }// end .card
            }//end .duo__media
        }//end inner.expanded
    }//end duo--gallery
    
    &.basic{
        padding: $spacing--xxl 0;
        
        @include breakpoint (large down){
            padding: $spacing--md 0 0;
        }//end large down
        
        @include breakpoint (small only){
            padding: $spacing--sm 0 0;
        }//end medium only
        
        &.grey-background{
            padding: $spacing--md 0 $spacing--lg*2;
            background-color: $grey-light;
            
            @include breakpoint (large only){
                padding-bottom: $spacing--md+$spacing--lg;
            }//end large only breakpoint
            
            @include breakpoint (medium only){
                background: none;
                padding: 0;
                padding-bottom: $spacing--md;
            }//end medium only breakpoint
            
            @include breakpoint (small only){
                background: none;
                padding: $spacing--sm 0;
            }//end small only breakpoint
        }//end grey-background
        
        .inner.expanded{
            @include inner;
            @include innerpadding ($p-small: 0);
            
            .duo__media{
                .duo__img{
                    border-radius: $border-radius;
                    overflow: hidden;
                    min-height: 157px;
                    
                    @include breakpoint (small only){
                        border-radius: 0;
                    }//end small only breakpoint
                }//end .duo__img
            }//end .duo__media
            
            .duo__content{
                padding: 0;
                
                @include breakpoint (small only){
                    padding: 0 $spacing--xs;
                    margin-top: -$spacing--sm;
                }//end small only breakpoint
                &--right .card{
                    padding: $spacing--md 0 $spacing--md $spacing--xxl;
                    @include breakpoint (medium only){
                        padding: $spacing--xs 0 0 $spacing--md;
                    }//end medium only breakpoint
                    
                    @include breakpoint (small only){
                        padding: $spacing--sm $spacing--xs;
                    }//end small only breakpoint
                }//end right card
                
                &--left .card{
                    padding: $spacing--md $spacing--xxl $spacing--md 0;
                    @include breakpoint (medium only){
                        padding: $spacing--xs $spacing--md 0 0;
                    }//end medium only breakpoint
                    
                    @include breakpoint (small only){
                        padding: $spacing--sm $spacing--xs;
                    }//end small only breakpoint
                }//end left card
                .card{
                    background: none;
                    overflow: visible;
                    
                    @include breakpoint (small only){
                        text-align: center;
                        background: $color-default-inverse;
                        border-radius: $border-radius;
                    }//end small only breakpoint
                    .card__header{
                        font-size: $fontsize-h2;
                        color: $color-accent-1;
                        margin-bottom: $spacing--sm;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-h3;
                            font-weight: $font-semibold;
                        }//end medium down breakpoint
                        
                        @include breakpoint (small only){
                            text-align: center;
                            margin-bottom: $spacing--xs;
                        }//end small only breakpoint
                    }//end .card__header
                    
                    .card__secondary{
                        
                        p{
                            margin-bottom: $spacing--sm;
                            
                            @include breakpoint (medium only){
                                line-height: $line-height-small;
                            }//end medium only breakpoint
                            
                            @include breakpoint (small only){
                                text-align: left;
                                line-height: $line-height-small;
                                font-size: $fontsize-small;
                            }//end medium only breakpoint
                        }//end p
                    }//end .card__secondary;
                    
                    .button{
                        background: transparent;
                        color: $color-accent-1;
                        text-decoration: none;
                        font-size: $fontsize-h3;
                        font-weight: $font-medium;
                        border-radius: $border-radius;
                        border: 3px solid $color-accent-1;
                        padding: 13.5px 2.666667rem;
                        line-height: 28px;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-regular;
                            line-height: $fontsize-regular;
                        }//end medium down breapoint
                    }//end button
                }//end .card
            }//end .duo__content
        }//end .inner.expanded
    }//end basic
}//end .module.duo


//Footer Duo
.module.duo.helpful-links{
    margin-top: -$spacing--md;
    position: relative;
    
    @include breakpoint (medium down){
        margin-top: 0;
    }//end medium down breakpoint
    
    .inner.expanded{
        @include inner;
        @include innerpadding ($p-small: 0, $p-medium: 0);
        
        .row{
            .duo__media{
                padding-right: $spacing--sm;
                
                @include breakpoint (medium down){
                    padding: 0;
                    max-height: 275px;
                }//end medium only breakpoint
                .duo__img{ 
                    border-radius: $border-radius;
                    
                    @include breakpoint (medium only){
                        max-height: 275px;
                    }//end medium only breakpoint
                    
                    @include breakpoint (small only){
                        min-height: 275px;
                        background-size: 150%;
                        background-position: 30% 80%;
                    }//end medium only breakpoint
                }//end .duo__img
            }//end .duo__media
            
            .duo__content{
                padding: 0 0 0 $spacing--sm;
                
                @include breakpoint (medium only){
                    padding: 0 $spacing--xl;
                    margin-top: -230px;
                }//end medium only breakpoint
                
                @include breakpoint (small only){
                    padding: 0 $spacing--xs;
                    margin-top: -215px;
                }//end small only breakpoint
                .card--duo{
                    border-radius: $border-radius;
                    box-shadow: $box-shadow-1;
                    margin-bottom: 0;
                    padding: 0;
                    background-color: $color-default-inverse;
                    overflow: hidden;
                    
                    .card__header{
                        font-size: $fontsize-h2;
                        color: $color-default-inverse;
                        background-color: $color-accent-2;
                        padding: $spacing--sm $spacing--md 0;
                        margin-bottom: $spacing--sm;
                        position: relative;
                        z-index:1;
                        
                        @include breakpoint (medium only){
                            text-align: center;
                        }//end medium only breakpoint

                        &:after{
                            @include pseudo;
                            height: $spacing--lg;
                            bottom: -$spacing--sm;
                            left: -$spacing--sm;
                            right: -$spacing--sm;
                            border-radius: 50%;
                            background-color: $color-accent-2;
                            z-index: -1;
                        }//end after
                    }//end .card__header
                    
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: $spacing--xs 0;
                        
                        @include breakpoint (small only){
                            padding-bottom: 0;
                        }//end small only breakpoint
                        li{
                            font-size: $fontsize-h3;
                            padding: $spacing--xs $spacing--md;
                            margin-bottom: 0;
                            
                            @include breakpoint (large only){
                                padding: $spacing--xs $spacing--sm;
                            }//end small only breakpoint
                            
                            @include breakpoint (small only){
                                padding: $spacing--xs $spacing--sm;
                            }//end small only breakpoint
                            
                            &:not(:last-child){
                                border-bottom: 2px solid $grey-medium;
                            }//end not last child
                            a{
                               text-decoration: none; 

                               &:after{
                                    content: '\f105';
                                    font-family: 'FontAwesome';
                                    display: inline-block;
                                    font-size: $fontsize-h3;
                                    color: $color-primary;
                                    margin-left: $spacing--xs;
                                    font-weight: $font-regular;
                                    @include transition;
                                }//end :after
                                
                                &:hover:after{
                                    margin-left: 20px;
                                    @include transition;
                                }
                            }//end a
                        }//end li
                    }//end ul
                }//end .card--duo
            }//end .duo__content
        }//end .row
    }//end inner.expanded
}//end .module.duo.helpful-links

@include breakpoint (small only){
    .module.duo.icon .inner.expanded .duo__content .card .card__secondary p:first-of-type{
        position: absolute;
        top: -$spacing--md;
    }//end first of type p
    
    .module.duo.icon{
        padding-bottom: $spacing--xl;
        &.no-bottom{
            padding-bottom: 0;
        }//end no-bottom
    }//end .module.duo.icon
}//end small only

