// Insurance //
.module.insurance{
    padding: $spacing--lg;
    @include inner;
    
    @include breakpoint (medium only){
        padding: $spacing--sm;
    }//end medium only breakpoint
    
    @include breakpoint (small only){
        padding: $spacing--sm $spacing--xs;
    }//end small only breakpoint
    
    &.no-shadow{
        
        @include breakpoint (small only){
            padding: $spacing--sm;
        }//end small only
        .inner.expanded{
            box-shadow: none;
            padding: $spacing--xs $spacing--xxl;
            
            @include breakpoint (medium down){
                padding: 0;
            }//end medium down breakpoint
        }//end .inner.expanded
    }//end no-shadow
    .inner.expanded{
        padding: $spacing--md $spacing--xxl;
        text-align: center;
        background-color: $color-default-inverse;
        box-shadow: $box-shadow-1;
        border-radius: $border-radius;
        
        @include breakpoint (medium only){
            padding: $spacing--sm $spacing--md;
        }//end medium only breakpoint
        
        @include breakpoint (small only){
            padding: $spacing--sm $spacing--xs;
        }//end small only breakpoint
        .module__header{
            h1{
                text-align: center;
                font-size: $fontsize-h2;
                margin-bottom: $spacing--md;
                
                @include breakpoint (medium down){
                    font-size: $fontsize-h3;
                    font-weight: $font-semibold;
                    margin-bottom: $spacing--sm;
                }//end medium down breakpoint
            }//end h1
        }//end .module__header
        
        .module__paragraph{
            p{
              text-align: center; 
              max-width: 812px;
              margin: 0 auto $spacing--md;
              
              @include breakpoint (small only){
                font-size: $fontsize-regular;
                line-height: $line-height-small;
              }//end small only
            }//end p
        }//end .module__paragraph
        
        .insurance__grid{
            text-align: center;
            margin-bottom: $spacing--md;
            
            .insurance__logo{
                @include breakpoint (small only){
                    width: 33.333%;
                }//end small only
            }//end insurance__logo
        }//end .insurance__grid
        
        .button{
            background: transparent;
            color: $color-primary;
            text-decoration: none;
            font-size: $fontsize-h3;
            font-weight: $font-medium;
            border-radius: $border-radius;
            border: 3px solid $color-primary;
            padding: 13.5px $spacing--sm;
            line-height: 28px;
            
            @include breakpoint (medium down){
                font-size: $fontsize-regular;
                line-height: $fontsize-regular;
            }//end medium only breakpoint
        }//end .button
    }//end .inner.expanded
}//end .module.insurance