// Spotlight //
#content{
    .module.spotlight{
        &.with-bottom{
            padding-bottom: $spacing--lg;

            @include breakpoint (medium only){
                padding-bottom: $spacing--md;
            }//end medium only breakpoint

            @include breakpoint (small only){
                padding-bottom: $spacing--sm;
            }//end small only breakpoint
        }//with-bottom
        &.no-top{
            margin-top: -$spacing--lg;
            padding-bottom: 0;
            @include breakpoint (medium down){
                margin-top: 0;
            }//end medium down breakpoint
        }//end no top
        
        &.wave{
            padding-top: 13rem;
            background-image: linear-gradient(-180deg, $color-accent-3 0%, $color-accent-3 40%, $color-default-inverse 40%);
            position: relative;
            overflow: hidden;
            padding-bottom: $spacing--xs;
            
            @include breakpoint (medium only){
                padding-top: 12rem;
            }//end medium only breakpoint
            
            @include breakpoint (small only){
/*                background: none;*/
                padding-top: 14rem;
            }//end small only breakpoint
        
            &:before{
                @include pseudo;
                background-size: auto;
                background-image: url(../images/compressed/wave-overlay-light-blue.svg);
                background-repeat: no-repeat;
                position: absolute;
                top: 38%;
                left:-5px;
                right: -5px;
                height: 100%;
                
                @include breakpoint (small only){
                    display: none;
                }//end small only breakpoint
            }//end before
            
            .inner.expanded .card .card__secondary{
                max-width: none;
                text-align: left;
            }//end card__secondary
        }//end .wave
        .inner.expanded{
            @include inner;
            
            .card{
                background-color: $color-default-inverse;
                border-radius: $border-radius;
                box-shadow: $box-shadow-1;
                padding: $spacing--md $spacing--xxl;
                margin-bottom: 0;
                
                @include breakpoint (medium only){
                    padding: $spacing--sm; 
                }//end medium only
                
                @include breakpoint (small only){
                    padding: $spacing--sm $spacing--xs; 
                }//end small only
                
                h1{
                    text-align: center;
                    font-size: $fontsize-h2;
                    margin-bottom: $spacing--md;
                        
                    @include breakpoint (medium down){
                        font-size: $fontsize-h3;
                        font-weight: $font-semibold;
                        margin-bottom: $spacing--xs;
                    }//end medium down    
                }//end h1
                
                .card__secondary{
                    max-width: 812px;
                    margin: 0 auto $spacing--md;
                    
                    @include breakpoint (medium down){
                        margin-bottom: $spacing--sm;
                    }//end medium only
                    
                    p{
                        @include breakpoint (medium down){
                            line-height: $line-height-small;
                        }//end medium down
                        
                        @include breakpoint (small only){
                            text-align: left;
                        }//end small only
                    }//end p
                }//end .card__secondary
                
                .button{
                    background: transparent;
                    color: $color-primary;
                    text-decoration: none;
                    font-size: $fontsize-h3;
                    font-weight: $font-medium;
                    border-radius: $border-radius;
                    border: 3px solid $color-primary;
                    padding: 13.5px $spacing--sm;
                    line-height: 28px;
                    
                    @include breakpoint (medium down){
                        font-size: $fontsize-regular;
                        line-height: $fontsize-regular;
                    }//end medium only
                }//end .button
            }//end .card
        }//end .inner.expanded
    }//end .module.spotlight
}//end #content