#content{
    .module.staff{
        &--carousel{
            padding: 0 0 $spacing--sm;

            @include breakpoint (large only){
                padding: $spacing--md 0 $spacing--xs;
            }//end large only breapoint

            @include breakpoint (medium only){
                padding: $spacing--md 0 $spacing--xs;
            }//end medium only breapoint

            @include breakpoint (small only){
                padding: $spacing--sm 0 0;
            }//end small only breapoint

            .inner.expanded{
                .module__header{
                    h1{
                        font-size: $fontsize-h2;
                        color: $color-secondary;
                        text-align: center;
                        margin-bottom: $spacing--sm;

                        @include breakpoint (medium down){
                            font-size: $fontsize-h3;
                            font-weight: $font-semibold;
                        }//end medium down breapoint

                        @include breakpoint (small only){
                            margin-bottom: 0;
                        }//end small only breapoint
                    }//end h1
                }//end .module__header

                .staff__container{
                    @include inner
                    @include innerpadding($p-medium: $spacing--md*2, $p-large: $spacing--lg*2, $p-xlarge: $spacing--xl*3,$p-xxlarge: $spacing--xl*3)


                    .bx-wrapper{
                                .bx-viewport{
                                    .staff__carousel{
                                        .staff__card{
                                            padding: 0;
                                            margin: 0;

                                            .staff__holder{
                                                text-decoration: none;
                                                text-align: center;
                                                margin: $spacing--sm;
                                                background-color: $color-default-inverse;
                                                box-shadow: $box-shadow-1;
                                                padding-bottom: $spacing--sm;
                                                border-radius: $border-radius;
                                                overflow: hidden;
                                                @include breakpoint (medium only){
                                                        margin: $spacing--xs 10px $spacing--sm;
                                                        padding-bottom: $spacing--xs;
                                                    }//end medium only

                                                    @include breakpoint (small only){
                                                        padding-bottom: $spacing--xs;
                                                    }//end small only
                                                    &:hover{
                                                        @include transition;
                                                        transform: scale(1.03);
                                                        box-shadow: $box-shadow-2;
                                                    }//end hover
                                                @include transition;
                                                .staff_wrapper{
                                                    padding: 0 $spacing--xs;
                                                    .staff__photo{
                                                        position: relative;

                                                        &:after{
                                                            @include pseudo;
                                                            height: 45px;
                                                            border-radius: 50%;
                                                            box-shadow: 0 15px 0 0 $color-default-inverse;
                                                            bottom: 0;
                                                            left: -10px;
                                                            right: -10px;
                                                        }//end :after
                                                    }//end .staff__photo

                                                    h2{
                                                        font-size: $fontsize-h3;
                                                        text-align: center;
                                                        padding-top: $spacing--xs;
                                                        margin-bottom: 0;
                                                        font-weight: $font-semibold;
                                                        
                                                        @include breakpoint (large only){
                                                            padding: $spacing--xs $spacing--xs 0;
                                                        }//end large only breakpoint

                                                        @include breakpoint (medium down){
                                                            font-size: $fontsize-small;
                                                            font-family: $font-body;
                                                            font-weight: $font-medium; 
                                                        }//end medium down

                                                    }//end h2

                                                    h3{
                                                        text-align: center;
                                                        font-family: $font-body;
                                                        font-size: $fontsize-small;
                                                        color: $color-default;

                                                        @include breakpoint (medium down){
                                                            font-size: 14px;
                                                        }//end medium down
                                                        
                                                        .certifications{
                                                            margin-top: $spacing--xs;
                                                            font-family: $font-body;
                                                            font-size: $fontsize-small;
                                                            font-weight: $font-regular;
                                                            display: block;
                                                            color: $color-default;

                                                            @include breakpoint (medium down){
                                                                font-size: 14px;
                                                            }//end medium only
                                                        }//end certifications
                                                    }//end h3
                                                }//end .staff_wrapper
                                            }//end .staff__holder
                                        }//end .staff__card
                                    }//end .staff__carousel
                                }//end bx-viewport
                                .bx-controls{
                                    .bx-controls-direction{
                                        a{
                                            background: $color-default-inverse;
                                            border-radius: 50%;
                                            width: $spacing--md;
                                            height: $spacing--md;
                                            text-indent: 0;
                                            text-align: center;
                                            font-weight: bold;
                                            font-size: 2rem;
                                            line-height: 1.5;
                                            box-shadow: $box-shadow-2;
                                            @include transition;

                                            &:hover{
                                                @include transition;
                                                transform: scale(1.03);
                                                box-shadow: $box-shadow-2;
                                            }//end hover

                                            &.bx-prev{
                                                left: -$spacing--xl;

                                                @include breakpoint (medium only){
                                                    left: -$spacing--lg;
                                                }//end medium only

                                                @include breakpoint (small only){
                                                    left: 10px;
                                                }//end small only
                                            }//end .bx-prev

                                            &.bx-next{
                                                right: -$spacing--xl;

                                                @include breakpoint (medium only){
                                                    right: -$spacing--lg;
                                                }//end medium only

                                                @include breakpoint (small only){
                                                    right: 10px;
                                                }//end small only
                                            }//end .bx-next
                                        }//end a
                                    }//end .bx-controls-direction
                                }//end .bx-controls
                            }//end .bx-wrapper
                }//end .staff__container
            }//end .inner.expanded
        }//end --carousel
        
        &--deck{
            .inner.expanded{
                .staff__container{
                    .staff__deck{
                        .staff__card{
                            padding: 0 $spacing--xl;
                            margin-bottom: $spacing--lg;
                            
                            @include breakpoint (large only){
                                padding: 0 $spacing--sm;
                            }//end large only breakpoint
                            
                            @include breakpoint (medium only){
                                padding: 0 $spacing--sm;
                                margin-bottom: $spacing--md;
                            }//end medium only breakpoint
                            
                            @include breakpoint (small only){
                                padding: 0 $spacing--xs;
                                margin-bottom: $spacing--sm;
                            }//end small only breakpoint
                            .staff__holder{
                                text-decoration: none;
                                .staff__photo{
                                    .staff__img{
                                        border-radius: $border-radius;
                                        box-shadow: $box-shadow-1;
                                        
                                        @include breakpoint (small only){
                                            width: 100%;
                                        }//end small only breakpoint
                                    }//end staff__img
                                    margin-bottom: $spacing--md; 
                                    
                                    @include breakpoint (medium only){
                                        margin-bottom: $spacing--sm;
                                    }//end medium only breakpoint
                                    
                                    @include breakpoint (small only){
                                        margin-bottom: $spacing--xs;
                                    }//end small only breakpoint
                                }//end .staff__photo
                                h2{
                                    text-decoration: none;
                                    font-size: $fontsize-h3;
                                    text-align: left;
                                    
                                    @include breakpoint (medium only){
                                        font-size: $fontsize-h4;
                                    }//end medium only breakpoint
                                    
                                    @include breakpoint (small only){
                                        font-weight: $font-regular;
                                    }//end small only breakpoint
                                    .certifications{
                                        display: inline-block;
                                        margin-left: 5px;
                                    }//end .certificatopms
                                }//end h2
                                
                                h3{
                                    font-family: $font-body;
                                    font-size: $fontsize-regular;
                                    font-weight: $font-medium;
                                    text-align: left;
                                    color: $color-default;
                                    
                                    @include breakpoint (medium only){
                                        font-size: $fontsize-small;
                                    }//end medium only breakpoint
                                }//end h3
                                
                                p{
                                    margin-bottom: $spacing--sm;
                                }
                                
                                .button.button--secondary{
                                    color: $color-primary;
                                    border-color: $color-primary;
                                    padding-left: $spacing--md;
                                    padding-right: $spacing--md;
                                }//end button--secondary
                            }//end .staff__holder
                        }//end .staff__card
                    }//end .staff__deck
                }//end .staff__container
            }//end inner.expanded 
            
            .large-centered, .large-centered:last-child:not(:first-child){
                float: left;
                
                @include breakpoint (small only){
                    float: none;
                }//end small only breakpoint
            }//end and large centered last-child
            
            .large-centered:last-child:not(:first-child){
                clear: none;
            }//end last-child
        }//end --deck
    }//end .module.staff
    
    .wrapper.grey-background{
        .module.staff{
            padding: $spacing--lg 0 0;
            
            @include breakpoint (medium only){
                padding: $spacing--sm 0 0;
            }//end medium only breakpoint
            
            @include breakpoint (small only){
                padding: $spacing--sm 0 0;
            }//end small only breakpoint
        }//end module.staff
    }//end wrapper grey-background
}//end #content