#location{
    background: linear-gradient(-180deg, $color-default-inverse 0%, $grey-medium 30%);
    padding: $spacing--xl 0 $spacing--xl+$spacing--md $spacing--sm;
    overflow: hidden;
    
    @include breakpoint (large only){
        padding-top: $spacing--lg;
        padding-bottom: $spacing--lg+$spacing--md;
    }//end large only breakpoint
    
    @include breakpoint (medium only){
        padding-top: $spacing--md;
        padding-bottom: $spacing--md;
    }//end medium only breakpoint
    
    @include breakpoint (small only){
        padding: $spacing--sm $spacing--xs $spacing--sm $spacing--xs;
    }//end medium only breakpoint
    
    .inner{
        max-width: 1260px;
        padding: $spacing--sm $spacing--sm $spacing--sm $spacing--xl;
        background: none;
        
        @include breakpoint (medium only){
            padding: $spacing--md;
        }//end medium only breakpoint
        
        @include breakpoint (small only){
            padding: $spacing--sm $spacing--xs;
        }//end small only breakpoint
        &:before{
            @include pseudo;
            top: 0;
            left: 0;
            right: -100%;
            bottom: 0;
            background: $color-default-inverse;
            z-index:0;
            box-shadow: $box-shadow-1;
            
            @include breakpoint (small only){
                right: 0;
            }//end small only breakpoint
        }//end :before
        
        &:after{
            @include pseudo;
            top: 0;
            left: 0;
            bottom: 0;
            width: 14px;
            border-radius: $border-radius 0 0 $border-radius;
            background: $gradient-purple;
            
            @include breakpoint (small only){
                bottom: auto;
                width: 100%;
                right: 0;
                height: 8px;
                border-radius: $border-radius $border-radius 0 0;
            }//end small only breakpoint
        }//end after

        .row{
            .location__map{
                padding: 0;
                border-radius: $border-radius;
                border: 3px solid $grey-light;
                
                .acf-map{
                    min-height: 300px;
                    
                    h2{
                        font-size: $fontsize-h4;
                    }//end h2
                    
                    p{
                        font-size: $fontsize-small;
                        line-height: $line-height-small;
                        margin-bottom: 0;
                    }// end p
                    
                    .contact__popup{
                        padding: $spacing--xs;
                    }//end .contact__popup
                    
                    .button{
                        margin-top: $spacing--xs;
                        fontsize: $fontsize-small;
                        padding: $spacing--xs $spacing--xs;
                    }//end button
                }//end acf-map
            }//end .location__map

            .location__content{
                padding: $spacing--sm $spacing--lg*2 $spacing--sm 0;
                        
                @include breakpoint (medium only){
                    padding-top: 0;
                    padding-bottom: 0;
                }//end medium only breakpoint
                
                @include breakpoint (small only){
                    padding: 0;
                }//end small only breakpoint
                               
                .location__header{
                    position: relative;
                    z-index: 1;
                    h1{
                        color: $color-accent-1;
                        font-size: $fontsize-h2;
                        margin-bottom: $spacing--sm;
                        
                        @include breakpoint (medium only){
                            font-size: $fontsize-h3;
                        }//end medium only breakpoint
                        
                        @include breakpoint (small only){
                            font-size: $fontsize-h3;
                            text-align: center;
                            font-weight: $font-semibold;
                        }//end small only breakpoint
                    }//end h1
                }//end .location__header
                
                .card--location{
                    position: relative;
                    
                    p{
                        color: $color-default;
                        font-size: $fontsize-h3;
                        margin-bottom: 0;
                        line-height: $line-height;
                        max-width: 580px;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-regular;
                        }//end medium only breakpoint
                        
                        @include breakpoint (small only){
                            line-height: 2rem;
                        }//end small only
                        
                        &.telephone{
                            color: $color-accent-1;
                            margin-bottom: $spacing--sm;
                            margin-top: $spacing--sm;
                            font-weight:$font-medium;
                            
                            a{
                                text-decoration: none;
                                color: $color-accent-1;
                            }
                            @include breakpoint (medium down){
                                margin-bottom: $spacing--sm;
                            
                                a{
                                   text-decoration: none;
                                   color: $color-default-inverse;
                                   background: $gradient-purple;
                                   display: block;
                                   width: 100%;
                                   padding: $spacing--xs/2;
                                   text-align: center;
                                   border-radius: $border-radius;
                                   margin-top: $spacing--xs;
                                }//end a
                            }//end medium down breakpoint

                        }//end .telephone
                    }//end p

                    h2{
                        font-family: $font-body;
                        color: $color-accent-1;
                        font-size: $fontsize-h3;
                        margin-bottom: $spacing--xs;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-regular;
                        }//end medium only breakpoint   
                        
                        @include breakpoint (small only){
                            margin-bottom: $spacing--xs;
                        }//end medium only breakpoint
                    }//end h2
                }//end .card--location
            }//end .location__content
        }//end .row
    }//end .inner
}//end location

//--------------------
//LOCATION SECTION PAGE SPECIFIC
//--------------------
body{
    &.page-referrals #location, &.page-template-template-home #location{
        background: linear-gradient(180deg, $grey-light 0%, $grey-light 20%, $grey-medium 20%, $grey-medium 100%);
        
        @include breakpoint (small only){
            background: linear-gradient(180deg, $grey-light 0%, $grey-light 40%, $color-default-inverse 40%, $color-default-inverse 100%);
        }//end small only breakpoint
    }//end page classes
}//end body

// ---------------------------------
//LANDING PAGE TEMPLATE
// ---------------------------------
.page-template-template-full-width, .blog, .archive{
    
    &.page-contact{
        #location{
            display: none;
        }//end #location
        
        .module.duo.helpful-links{
            background: linear-gradient(-180deg, $color-default-inverse 0%, $grey-medium 30%);
            padding-bottom: $spacing--xl;
            margin-top: 0;
            
            @include breakpoint (medium only){
                background: $color-default-inverse;
                padding-bottom: 0; 
            }//end medium only breakpoint
        }//end .module.duo.helpful-links
    }//end page-contact
    
        .article-header{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
            height: 392px;
            position: relative;
            padding: 0;
            
            @include breakpoint (medium only){
                height: 153px;
            }//end medium only breakpoint
            
            @include breakpoint (small only){
                height: 92px;
            }//end small only breakpoint

            .inner{
                max-width: 820px;
                height: 100%;
                
                @include breakpoint (medium only){
                    max-width: 568px;
                }//end medium only breakpoint
                
                @include breakpoint (small only){
                    max-width: 314px;
                }//end small only breakpoint

                &:before{
                    @include pseudo;
                    bottom: -32%;
                    left: 0;
                    right: 0;
                    top: calc(55% + 30px);
                    box-shadow: $box-shadow-2;
                    z-index: 1;
                    background-color: $color-default-inverse;
                    border-radius: $border-radius;
                    
                    @include breakpoint (medium only){
                        bottom: -88%;
                    }//end medium only breakpoint
                    
                    @include breakpoint (small only){
                        bottom: -206%;
                    }//end small only breakpoint
                }//end :before 

                .page-title-container{
                    position: absolute;
                    padding-top: $spacing--lg / 2;
                    overflow: hidden;
                    left: 0; 
                    right: 0;
                    bottom: auto;
                    top: 55%;
                    z-index: 1;

                    &:before{
                        @include pseudo;
                        top: 0;
                        left: -6rem;
                        right: -6rem;
                        border-radius: 50%;
                        height: 9rem;
                        background-color: $color-default-inverse;
                        z-index: -1;
                    }//end :before

                    .page-title-inner{
                        background: $color-default-inverse;
                        border-radius: $border-radius;

                        .page-title{
                            font-size: $fontsize-h1;
                            padding-top: $spacing--sm;
                            line-height: $fontsize-h1;
                            color: $color-primary;
                            
                            @include breakpoint (medium only){
                                font-size: $fontsize-h2;
                                padding: 0;
                                line-height: $fontsize-h2;
                            }//end medium only breakpoint
                            
                            @include breakpoint (small only){
                                font-size: $fontsize-h3;
                                padding: 0;
                                line-height: $fontsize-h3;
                                font-weight: $font-semibold;
                            }//end small only breakpoint
                        }//end .page-title

                        p{
                            font-size: $fontsize-h4;
                            padding: $spacing--md;
                            margin-bottom: 0;
                            text-align: center;
                            line-height: $line-height;
                            
                            @include breakpoint (medium only){
                                font-size: $fontsize-regular;
                                padding: $spacing--xs $spacing--md $spacing--md;
                                line-height: $line-height-small;
                            }//end medium only breakpoint
                            
                            @include breakpoint (small only){
                                font-size: $fontsize-small;
                                padding: $spacing--xs;
                                line-height: $line-height-small;
                            }//end medium only breakpoint
                        }//end p
                    }//end .page-title-inner
                }//end .page-title-container
            }// end .inner
        }//end .article-header
    &.page-treatment, &.page-contact, &.page-for-families{ 
        .article-header .inner .page-title-container .page-title-inner .page-title{
            color: $color-secondary;
        }//end page title
    }//end page-treatment
    
    &.page-admissions, &.page-referrals {
        .article-header .inner .page-title-container .page-title-inner .page-title{
            color: $color-accent-1;
        }//end page title
    }//end page-treatment .page-title
}//end .page-template-template-full-width and .blog

//------------------------------
//ARCHIVE PAGE STYLING
//------------------------------
 
#main{
    padding: 0 $spacing--lg 0 0;
    
    @include breakpoint (medium only){
        width: 100%;
        left:0;
        padding: 0;
    }//end medium only breakpoint
    
    @include breakpoint (small only){
        padding: 0;
    }//end small only breakpoint
    .row{
        .post_holder{
            margin-bottom: $spacing--sm;
            padding: 0;
            
            @include breakpoint (medium down){
                padding: 0;
            }//end medium down breakpoint
            .post, .page{
                @include breakpoint (small only){
                    padding: 0;
                }//end small only
                .post_excerpt{
                    overflow: hidden;
                    background-color: $color-default-inverse;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow-1;
                    .featured_image{
                        background-size: cover;
                        background-position: center center;
                        width: 35%;
                        float:left;
                        overflow: hidden;
                        
                        @include breakpoint (large only){
                            width: 40%;
                        }//end large only breakpoint
                        @include breakpoint (small only){
                            width: 100%;
                            float: none;
                            min-height: 250px;
                            margin-bottom: 0;
                        }//end small only
                        &:after{
                            @include clearfix
                        }//end after

                    }//end .featured-image
                    .post__contents{
                        padding: $spacing--sm;
                        
                        @include breakpoint (small only){
                            padding: $spacing--sm $spacing--xs;
                        }//end small only
                        
                        &.has-post-thumbnail {
                            width: 65%;
                            display: inline-block;
                            padding: $spacing--md $spacing--md $spacing--md $spacing--lg;
                           
                            @include breakpoint (large only){
                                width: 60%;
                                padding: $spacing--sm;
                            }//end large only
                            
                            @include breakpoint (small only){
                                width: 100%;
                                padding: $spacing--sm $spacing--xs;
                            }//end small only
                        }//end has-post-thumbnail

                        .post-header{
                            h2{
                                font-size: $fontsize-h3;
                                font-weight: $font-semibold;
                                margin-bottom: $spacing--sm;
                                a{
                                    color: $color-primary;
                                }//end a
                                
                                @include breakpoint (small only){
                                    text-align: center;
                                    margin-bottom: $spacing--xs;
                                }//end small only breakpoint
                            }//end h2
                        }//end .post-header

                        .post-excerpt{
                            p{
                               line-height: $line-height-small;
                               margin-bottom: $spacing--sm;
                            }

                            .button{
                                color: $color-primary;
                                border: 3px solid $color-primary;
                                background: transparent;
                                padding: $spacing--xs $spacing--sm;
                                width: auto;
                                margin-right: $spacing--sm;
                                
                                @include breakpoint (large only){
                                    width: 100%;
                                    margin: 0 0 $spacing--xs 0;
                                    padding: $spacing--xs;
                                }//end small only breakpoint
                                
                                @include breakpoint (small only){
                                    width: 45%;
                                    margin-right: 5%;
                                    padding: $spacing--xs;
                                }//end small only breakpoint

                                &.share{
                                    margin: 0;
                                    &:after{
                                        content: '\f1e0';
                                        font-family: 'FontAwesome';
                                        display: inline-block;
                                        margin-left: $spacing--xs;
                                    }//end after
                                }//end share
                            }//end .button
                        }//end .post-excerpt
                    }//end .post__contents
                }//end .post_excerpt
            }//end .post
        }//end .post_holder
    }//end .row
}//end #main

//-------------------------------
//GENERAL PAGE STYLES
//-------------------------------
#content{
    &.inner{
        @include inner;
        &.expanded{
            max-width: none;
            padding: 0;
        }//end .inner.expanded
    }//end .inner
}//end #content

.blog, .archive{
    #content.inner{
        margin-top: 13rem;
        padding-top: 0;
        @include inner;
       
        @include breakpoint (small only){
            margin-top: 14rem;
        }//end small only breakpoint
            
        .resources-subhead{
            margin-bottom: $spacing--md;
            
            @include breakpoint (medium down){
                font-size: $fontsize-h3;
                font-weight: $font-semibold;
            }//end medium down breakpoint
            
            @include breakpoint (small only){
                text-align: center;
                margin-bottom: $spacing--sm;
            }//end small only breakpoint
        }//end resources-subhead
    }//end #content.inner
}//end .blog

.page-template-default, .search-results, .search-no-results, .post-template-default, .single-staff, .page-template-template-staff-members, .page-template-template-formatting{
    .article-header{
        background: none;
        padding: $spacing--md;
        margin: auto;
        @include inner;
        
        @include breakpoint (large only){
            padding: $spacing--lg;
        }//end large only
        
        @include breakpoint (medium only){
            padding: $spacing--sm;
        }//end medium only
        
        @include breakpoint (small only){
            padding: $spacing--xs;
        }//end small only
        
        .page-title{
            color: $color-primary;
            text-align: left;
            font-size: $fontsize-h2;
            
            @include breakpoint (small only){
                font-size: $fontsize-h3;
                font-weight: $font-semibold;
                line-height: $line-height-small;
                margin-bottom: $spacing--xs;
            }//end small only breakpoint
        }//end .page-title
    } //end .article-header
    
    #content.inner{
        padding-top: 0;
        @include inner;       
        
        #inner-content{
            #main{
                padding-right: $spacing--lg;
                
                @include breakpoint (medium only){
                    width: 100%;
                    left:0;
                }//end medium only breakpoint
                
                @include breakpoint (small only){
                    padding: 0;
                }//end small only
            
                img{
                    border-radius: $border-radius;
                    overflow: hidden;
                    box-shadow: $box-shadow-1;
                }
                
                .post_holder{
                    padding: 0;
                    margin: 0 0 $spacing--md 0;
                    
                    .entry-content{
                        padding: 0;
                        
                        .button{
                            
                            &.share{
                                color: $color-primary;
                                border: 3px solid $color-primary;
                                background: transparent;
                                padding: $spacing--xs $spacing--sm;
                                width: auto;
                                margin-top: $spacing--md;
                                &:after{
                                    content: '\f1e0';
                                    font-family: 'FontAwesome';
                                    display: inline-block;
                                    margin-left: $spacing--xs;
                                }//end after
                            }//end share
                        }//end .button
                        
                        .staff-content{
                            padding-right: $spacing--lg;
                        
                            .staff__member__info{
                                h2{

                                }//end h2

                                h3{
                                    font-family: $font-body;
                                    color: $color-default;
                                    margin-bottom: $spacing--sm;
                                }//end h3

                                .staff__member__info__photo{
                                    img{
                                        float: left;
                                        margin: 0 $spacing--sm $spacing--xs 0; 
                                    }//end img
                                }// .staff__member__info__photo
                            }// .staff__member__info
                        }//end .staff-content
                    }//end .entry-content
                }//end .post_holder
            }//end #main
        }//end #inner-content
    }//end #content.inner
}//end page-template-default

//-------------------------------
//SINGLE STAFF PAGE STYLES
//-------------------------------

.single-staff{
    .article-header{
        padding-bottom: 0;
        
        .page-title{
            display: none;
        }//end .page-title
    }//end .article-header
    
    #content.inner{
        #inner-content{
            #main{
                padding: 0;
                
                &>.row{
                    max-width: none;
                }//end .row
            }//end #main
        }//end #inner-content
    }//end #content
}//end .single-staff

//-------------------------------
//STAFF TEMPLATE PAGE STYLES
//-------------------------------

.page-template-template-staff-members{
    .article-header{
        padding-bottom: 0;
        
        .page-title{
            margin-bottom: $spacing--md;
        }//end .page-title
    }//end .article-header
    
    #content.inner{
        padding-bottom: 0;
        @include innerpadding($p-small: 0, $p-medium: 0, $p-large: $spacing--sm, $p-xlarge: 0 ,$p-xxlarge: $spacing--xs);
    }//end #content
}//end .single-staff

//-------------------------------
//SEARCH PAGE STYLES
//-------------------------------

.search-results, .search-no-results{
    .article-header{
        p{
            margin-bottom: $spacing--md;
            color: $grey-dark;
            
            @include breakpoint (small only){
                margin-bottom: $spacing--xs;
            }//end small only
            a{
               text-decoration: none; 
            }//end a
        }//end p
    } //end .article-header
    
    #content{
        #post-not-found{
            h1{
                font-size: 2rem;
                margin-bottom: $spacing--sm;
            }//end h1
        }//end .post-not-found
    }//end #content
}//end .search results.


//-------------------------------
//404 PAGE STYLES
//-------------------------------

.error404{
    .article-header{
        display:none;
    } //end .article-header
    #content.inner{
        padding-top: $spacing--xxl;
        @include inner;
        
        @include breakpoint (small only){
            padding-top: $spacing--sm;
        }//end small only
        
        #inner-content{
            #main{
                @include breakpoint (medium only){
                    width: 100%;
                    left:0;
                }//end medium only breakpoint
                
                .entry-content{
                    padding: 0 $spacing--lg 0 0;
                    
                    h1{
                        font-size: $fontsize-h2;
                        margin-bottom: $spacing--md;
                        
                        @include breakpoint (small only){
                            font-size: $fontsize-h3;
                            line-height: $line-height-small;
                            margin-bottom: $spacing--sm;
                            font-weight: $font-semibold;
                        }//end small only
                    }//end h1
                    
                    .button{
                        background: $color-default-inverse;
                        border: 3px solid $color-primary;
                        color: $color-primary;
                        margin-bottom: $spacing--md;
                        
                        @include breakpoint (small only){
                            margin-bottom: $spacing--xs;
                        }//end small only
                        
                        &:hover{
                            background-color: $color-primary;
                            color: $color-default-inverse;
                            transition: all .3s ease-in-out;
                        }//end hover
                    }//end button
                }//end .entry-content
            }//end #main
        }//end #inner-content
    }//end #content
}//end .search results.


//-------------------------------
//WORDPRESS IMAGE ALIGN CLASSES
//-------------------------------
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto;}