
// ------------------------------------
//       SLATE OPTIONAL MIXINS
// ------------------------------------
// These are a few useful mixins for
// styling and repeating similar blocks
// of code. Uncomment to use.
// ------------------------------------



// TINT & SHADE
// @function tint($color, $percentage) {
//   @return mix(white, $color, $percentage);
// }
// @function shade($color, $percentage) {
//   @return mix(black, $color, $percentage);
// }


// PSEUDO
@mixin pseudo($display: block, $pos: absolute, $content: ''){
     content: $content;
     display: $display;
     position: $pos;
}

@mixin clearfix {
    clear: both;
    display: table; 
    content: "";
}


// TRANSITION
@mixin transition($args: all .3s ease-in-out) {
   -webkit-transition: $args;
   -moz-transition: $args;
   -ms-transition: $args;
   -o-transition: $args;
   transition: $args;
}

//PLACEHOLDER PSEUDO
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}// useage: @include placeholder


//inner class 
@mixin inner ($max-width: $container) {
  @if $max-width {max-width: $max-width;}
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  @include innerpadding;
}
//PADDING
@mixin innerpadding($p-small: $spacing--xs,$p-medium: $spacing--sm, $p-large: $spacing--lg, $p-xlarge: $spacing--xl,$p-xxlarge: $spacing--xxl) {
  @include breakpoint(small) {
      padding-left: $p-small;
      padding-right: $p-small;
  }
  @include breakpoint(medium) {
      padding-left: $p-medium;
      padding-right: $p-medium;
  }
  @include breakpoint(large) {
      padding-left: $p-large;
      padding-right: $p-large;
  }
  @include breakpoint(xlarge) {
      padding-left: $p-xlarge;
      padding-right: $p-xlarge;
  }
  @include breakpoint(xxlarge) {
      padding-left: $p-xxlarge;
      padding-right: $p-xxlarge;
  }
}//end inner padding

// OVERLAY
// @mixin overlay($color: $color-primary, $opacity: 0.65, $height: 100%, $width: 100%, $top: 0, $left: 0){
// 	@include pseudo;
// 	top: $top;
// 	left: $left;
// 	height: $height;
// 	width: $width;
// 	background-color: rgba($color, $opacity);
// 	z-index: 0;
// }


// BOX-SHADOW
// @mixin box-shadow($opacity: 0.16) {
// 	box-shadow: 0 12px 24px 0 rgba(34,34,34,$opacity);
// }


// BUTTON ARROW
// @mixin button-arrow ($color: $color-secondary, $font-size: 14px, $padding-left: 10px) {
//   &:after {
//     content: '\f105';
//     font-size: $font-size;
//     font-family: FontAwesome;
//     font-weight: normal;
//     font-style: normal;
//     margin: 0;
//     padding-left:$padding-left;
//     color: $color;
//     @include transition(all 200ms ease);
//   }
//   &:hover:after {
//     margin-left: 5px;
//   }
// }



// ------------------------------------
//        END OPTIONAL MIXINS
// ------------------------------------
//       put your mixins below 
// ------------------------------------





