#globalheader{
    background-color: $color-default-inverse;
    
    @include breakpoint (medium only){
        box-shadow: $box-shadow-2;
    }//end medium only
//----------------------------------------
//THIS IS DESKTOP MENU STYLING
//---------------------------------------- 
    z-index: 99999;
    
    #top-section{
        box-shadow: $box-shadow-2;
        .inner.expanded{
            padding-top: 0;
            padding-bottom: 0;
            @include inner;
            @include innerpadding($p-large: $spacing--sm, $p-xlarge: $spacing--lg);
            .row{
                #leftcontent{
                    width: 20%;
                    
                    @include breakpoint (large only){
                        width: 15%;
                    }//end large only breakpoint
                    
                    #logo{
                        width: 225px;
                        padding: 0;
                        
                        @include breakpoint (large only){
                            width: 200px;
                        }//end large only breakpoint
                     
                    }//end logo
                }//end #leftcontent
                
                #rightcontent{
                    width: 80%;
                    padding-top: $spacing--xs;
                    @include breakpoint (large only){
                        width: 85%;
                    }//end large only breakpoint
                    .row.expanded{
                        #search-nav{
                            float: right;
                            
                            .button--search--header{
                                form.search-form{
                                    &:after{
                                        @include clearfix;
                                    }//end after
                                    label{
                                        float: right;
                                        input.search-field{
                                            background: $grey-medium;
                                            border-radius: $border-radius;
                                            border: none;
                                            box-shadow: none;
                                            width: 135px;
                                            height: 34px;
                                            color: $grey-dark;
                                            font-weight: $font-medium;
                                            font-size: $fontsize-regular;
                                            padding-left: $spacing--xs;
                                            
                                            @include placeholder{
                                                color: $grey-dark;
                                                font-size: $fontsize-regular;
                                                font-weight: $font-medium;
                                                
                                                @include breakpoint (large only){
                                                    font-size: $fontsize-small;
                                                }//end large only breakpoint
                                            }//end placeholder

                                        }//end input.search-field;
                                    }//end label
                                    input.search-submit{
                                        margin-right: $spacing--xs/2;
                                        height: 34px;
                                        width: 34px;
                                        background-image: url(../images/compressed/search-icon.svg);
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        background-color: transparent;
                                        text-indent: -999px;
                                        
                                        
                                    }//end input.search-submit
                                }//end form.search-form
                            }//end .button--search--header
                            
                        }//end #search-nav
                        #usernav{
                            float: right;
                            #user-based{
                                ul.menu{
                                    font-size: $fontsize-regular;
                                    font-weight: $font-medium;
                                    margin-bottom: 1.8666667rem;
                                    margin-left: $spacing--xs;
                                    
                                    @include breakpoint (large only){
                                        font-size: $fontsize-small;
                                        margin-bottom: $spacing--xs;
                                    }//end large only breakpoint
                                    li{
                                        position: relative;
                                        
                                        &:before{
                                            @include pseudo;
                                            background-color: $grey-medium;
                                            border-radius: 100px;
                                            width: 2px;
                                            top: 0;
                                            bottom: 0;
                                            left: 0;
                                        }//end before
                                        
                                        &.active{
                                            &>a{
                                               color: $color-secondary;
                                               background: none;
                                            }//end a
                                        }//end .active

                                        a{
                                           color: $grey-dark; 
                                           padding: $spacing--xs/3 $spacing--xs;
                                           text-decoration: none;
                                           @include transition;
                                           
                                           &:hover{
                                               color: $color-secondary;
                                               @include transition;
                                           }//end hover
                                        }//end a
                                    }//end li
                                } //end ulul#menu-user-based-menu
                            }//end #user-based
                        }//end #usernav
                    }//end row.expanded
                    
                    #top-bar-menu{
                        background-color: transparent;
                        float: right;
                        
                        ul.mega-menu{
                            font-size: $fontsize-regular;
                            font-weight: $font-medium;
                            display: inline-block;
                            float: left;
                            
                            @include breakpoint (large only){
                                font-size: $fontsize-small;
                            }//end large only breakpoint
                            
                            li{
                                a{
                                   color: $grey-dark;
                                   padding: $spacing--xs $spacing--md/2 2.6rem;
                                   text-decoration: none;
                                   @include transition;
                                   
                                   @include breakpoint (large only){
                                        padding-left: $spacing--xs;
                                        padding-right: $spacing--xs;
                                    }//end large only breakpoint
                                    
                                    @include breakpoint (xlarge only){
                                        padding-left: $spacing--xs;
                                        padding-right: $spacing--xs;
                                    }//end large only breakpoint
                                   
/*                                   &:hover, &:active{
                                       color: $color-secondary;
                                       @include transition;
                                   }*/
                                }//and a
                                
                                &:hover, &:active{
                                   a{
                                        color: $color-secondary;
                                        @include transition;
                                   }//end a
                                }//end li hover and li active
                                
                                &.has-dropdown-arrow{
                                    &>a{
                                        &:after{
                                           border: none;
                                           font-family: 'FontAwesome';
                                           content:'\f107';
                                           position: relative;
                                           display: inline-block;
                                           top: 0;
                                           bottom: 0;
                                           right: 0;
                                           left: 0;
                                           height: auto;
                                           width: auto;
                                           margin: 0 0 0 $spacing--xs/2;      
                                        }//end a:after
                                    }//end a 
                                    
                                    &:hover{
                                            &>a:after{
                                                content:'\f106';
                                            }//end a:hover:after
                                        }//end a:hover
                                    
                                    
                                    &>.mega-menu-wrapper{
                                        box-shadow: $box-shadow-1;
                                        z-index: -1;
                                        &>.mega-menu{
                                            padding-top: $spacing--sm;
                                            padding-bottom: $spacing--sm;
                                            @include inner;
                                            
                                            &>div{
                                                width: 100%;
                                                padding: 0;
                                                float: none;
                                                min-height: 0;
                                                
                                                strong{
                                                    font-size: $fontsize-h3;
                                                    font-weight: $font-semibold;
                                                    font-family: $font-main;
                                                    color: $color-primary;
                                                }//end h1
                                                
                                                a{
                                                    display: block;
                                                    padding: 0;
                                                    color: $color-primary;
                                                    margin-bottom: $spacing--xs;
                                                    font-size: $fontsize-small;
                                                    line-height: 1;
                                                    
                                                    &:after{
                                                        content: '\f105';
                                                        font-family: 'FontAwesome';
                                                        display: inline-block;
                                                        font-size: $fontsize-h3;
                                                        color: $color-primary;
                                                        margin-left: $spacing--xs;
                                                        @include transition;
                                                    }//end a:after
                                                    
                                                    &:hover:after{
                                                        margin-left: 20px;
                                                        @include transition;
                                                    }
                                                }//end a
                                                
                                                p{
                                                    font-size: $fontsize-small;
                                                    font-weight: $font-regular;
                                                    line-height: 22px;
                                                    
                                                }//end p
                                            }//end div
                                        }//end .mega-menu
                                    }//end .mega-menu-wrapper
                                }//end .has-drop-down-arrow
                            }//end li
                        }//end ul.mega-menu
                        
                        #callinfo{
                            width: auto;
                            float: left;
                            padding: 0;
                            
                            #phone{
                                h3{
                                    color: $color-default-inverse;
                                    font-size: $fontsize-h3;
                                    font-family: $font-body;
                                    font-weight: $font-medium;
                                    background: $gradient-blue;
                                    box-shadow: $box-shadow-1;
                                    border-radius: $border-radius;
                                    padding: 16px $spacing--sm;
                                    line-height: 1;
                                    margin-bottom: 0;
                                    letter-spacing: .5px;
                                    
                                    a{
                                        color: $color-default-inverse;
                                    }//end a
                                    
                                    @include breakpoint (large only){
                                        padding-left: $spacing--xs;
                                        padding-right: $spacing--xs;
                                        font-size: $fontsize-h4;
                                    }//end large only breakpoint
                                }//end h3
                            }//end phone
                        }//end #callinfo
                    }//end #top-bar-menu
                }//end #rightcontent
            }//end .row
        }//end .inner.expanded
    }//end #top-section
 
//----------------------------------------
//THIS IS MOBILE MENU STYLING
//---------------------------------------- 
    
    #mobilephone{
        @include breakpoint (small only){
            text-align: left;
            background: $gradient-blue;
            color: $color-default-inverse;
            padding: $spacing--xs $spacing--xs;
            font-size: $fontsize-regular;
            line-height: $fontsize-regular;

            &:after, &:before {
                @include clearfix;
            }//end after and before

            strong{
                font-weight: $font-medium;
                float: right;
                a{
                    color: $color-default-inverse;
                    text-decoration: none;
                }//end a
            }//end strong


            &.fixed{
                top:0;
            }//end fixed
        }//end breakpoint small only
        @include breakpoint (360px down){
            font-size: $fontsize-small;
        }//end 325px
    }//end #mobilephone
    
    .title-bar{
        padding: $spacing--xs $spacing--md;
        background: none;
        position: relative;
        box-shadow: $box-shadow-2;
        
        @include breakpoint (small only){
            padding: $spacing--xs $spacing--sm;
        }//end small only breakpoint
        a:first-of-type{
            display: block;
            #logo{
                width: 100%;
                max-width: 150px;
                display: inline-block;
                
                @include breakpoint (small only){
                    max-width: 120px;
                }//end small only breakpoint
            }//end  #logo
        }//end a
        
        #callinfo{
            width: auto;
            position: absolute;
            right: 212px;
            top:37px;
            padding: 0;

            #phone{
                h3{
                    color: $color-default-inverse;
                    font-size: $fontsize-regular;
                    font-family: $font-body;
                    font-weight: $font-medium;
                    background: $gradient-blue;
                    box-shadow: $box-shadow-1;
                    border-radius: $border-radius;
                    padding: 16px $spacing--xs;
                    line-height: 1;
                    margin-bottom: 0;
                    letter-spacing: .5px;
                    
                    a{
                        color: $color-default-inverse;
                    }//end a
                }//end h3
            }//end phone
            
            @include breakpoint (small only){
                display: none;
            }//end small only breakpoint
        }//end #callinfo
        
        #mobilemenu{
            width: 100%;
            max-width:126px;
            position: absolute;
            float: none;
            right: $spacing--md;
            top: 37px;
            padding: 0;
            background: none;
            
            @include breakpoint (small only){
                right: $spacing--sm;
                top: $spacing--sm;
                width: 120px;
            }//end small only breakpoint
            
            ul.menu{
                padding: $spacing--xs/2 $spacing--xs;
                border: 3px solid $color-accent-3;
                border-radius: $border-radius;
                
                @include breakpoint (small only){
                    padding: $spacing--xs/2 $spacing--xs/2;
                }//end small only breakpoint
                
                li{
                    padding: 0;
                    display: inline-block;
                    margin: 0;
                    line-height: 1;
                    color: $color-primary;
                    font-weight: $font-medium;
                    font-size: $fontsize-regular;

                    &:last-child{
                        vertical-align: baseline;
                    }//end last-child
                    
                    button.hamburger{
                        padding: 0;
                        margin-right: $spacing--xs;
                        height: 24px;
                        position: relative;
                        
                        .hamburger-box{
                            width: 20px;
                            height: 100%;
                            display: inline-block;
                            position: relative;
                            
                            .hamburger-inner{
                                background-color: $color-primary;
                                width: 20px;
                                height: 3px;
                                border-radius: $border-radius;
                                &:before{
                                    top: -6px;
                                    width: 20px;
                                    height: 3px;
                                    background-color: $color-primary;
                                }//end before
                                    
                                &:after{
                                    bottom: -6px;
                                    width: 20px;
                                    height: 3px;
                                    background-color: $color-primary;
                                }//end after
                            }//end .hamburger-inner

                        }//end .hamburger-box
                        
                        &.is-active .hamburger-inner{
                                &:after{
                                    bottom: 0;
                                }//end after
                        }//end active hamburger inner
                    }//end button.hamburger  
                }//end li
            }//end ul.menu
        }//end #mobilemenu
    }//end .title-bar
    
    .top-bar{
        background-color: $color-default-inverse;
        #popover{
            .mobile-menu{
                ul.menu{
                    text-align: center;
                    padding: $spacing--xs 0;
                    
                    
                    li.menu-item{
                        padding: 0 $spacing--xs/2;
                        display: block;
                        
                        a{
                            text-decoration: none;
                            color: $grey-dark;
                            display: inline-block;
                            font-family: $font-main;
                            font-weight: $font-semibold;
                            font-size: $fontsize-h3;
                            padding: $spacing--xs/2 $spacing--sm;
                        }//end a
                        
                        &[aria-expanded=true] a{
                            color: $color-primary;
                        }//end aria-expanded=true a
                        
                        &.active>a{
                            background: none;
                            color: $color-primary;
                        }//end active a
                        
                        &.is-accordion-submenu-parent{
                            ul.is-accordion-submenu{
                                padding-bottom: 0;
                                li.is-accordion-submenu-item{
                                    a{
                                        font-family: $font-body;
                                        font-size: $fontsize-regular;
                                        font-weight: $font-medium;
                                    }//end a
                                    
                                    ul.is-accordion-submenu{
                                        padding-bottom: 0;
                                        border-bottom: 1.5px solid $grey-medium;
                                        li.is-accordion-submenu-item{
                                            a{
                                                font-family: $font-body;
                                                font-size: $fontsize-regular;
                                                font-weight: $font-regular;
                                            }//end a
                                        }//end li.is-accordion-submenu-item
                                    }//end ul.is-accordion-submenu
                                }//end li.is-accordion-submenu-item
                            }//end ul.is-accordion-submenu
                            &>a::after{
                                right: 0;
                                border: none;
                                content:'\f107';
                                font-family: 'FontAwesome';
                                font-size: $fontsize-h3;
                                height: auto;
                                width: auto;
                                top: calc(50% - 9px);
                            }//end >a::after
   
                        }//end is-accordion-submenu-parent
                    }//end li.menu-item
                    
                    &:after{
                        @include pseudo;
                        height: 30px;
                        border-radius: 50%;
                        left: 0;
                        right: 0;
                        bottom: -15px;
                        position: absolute;
                        background: $color-default-inverse;
                        box-shadow: $box-shadow-2;
                        z-index: -1;
                    }//end after
                }//end ul.menu
                
                form.search-form{
                    text-align: center;
                    padding: $spacing--xs $spacing--xs 0;
                    
                    @include breakpoint (medium only){
                        padding: $spacing--sm $spacing--md 0;
                    }//end medium only breakpoint
                    label{
                        display: block;
                        float: left;
                        width: 78%;
                        
                        @include breakpoint (medium only){
                            width: 85%;
                        }//end medium only breakpoint
                        input.search-field{
                            background: $color-default-inverse;
                            border-radius: $border-radius;
                            border: 3px solid $grey-medium;
                            box-shadow: none;
                            width: 100%;
                            height: 100%;
                            color: $grey-dark;
                            font-weight: $font-medium;
                            font-size: $fontsize-regular;
                            padding: 10px $spacing--xs;
                            margin: 0;
                            max-width: none;
                            max-height: none;

                            @include placeholder{
                                color: $grey-dark;
                                font-size: $fontsize-regular;
                                font-weight: $font-medium;

                                @include breakpoint (large only){
                                    font-size: $fontsize-small;
                                }//end large only breakpoint
                            }//end placeholder

                        }//end input.search-field;
                    }//end label
                    input.search-submit{
                        display: block;
                        float: right;
                        margin-right: 0;
                        height: 100%;
                        width: 10%;
                        background-image: url(../images/compressed/search-icon-blue.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-color: $grey-medium;
                        background-size: 35%;
                        text-indent: -99999px;


                    }//end input.search-submit
                }//end form.search-form
            }//end mobile-menu
            
            #userbased-mobile{
                .menu-user-based-menu-container{ 
                    ul.menu{
                        text-align: center;
                        font-family: $font-main;
                        font-size: 0; 
                        
                        li.menu-item{
                            display: inline-block;
                            &:not(:last-of-type){
                               border-right: 1px solid $color-primary; 
                            }//end not last of typle
                            a{
                               padding: 0 $spacing--xs/2;
                               text-decoration: none;
                               font-size: $fontsize-h3;
                            }//end a
                            
                            &.active a{
                                background: none;
                                text-decoration: underline;
                                color: $color-primary;
                            }//end active a
                        }//end li.menu-item
                    }//end ul.menu
                }//end .menu-user-based-menu-container
            }//end #userbased-mobile
        }//end #popover
    }// end .top-bar
}//end #globalheader

@include breakpoint (small only){
    .sticky-container{
        height: 153px !important;
    }//end .sticky container
}//end small only breakpoint