

// Variables

// COLORS
// name your colors here

$color-primary			: #26739D;
$color-secondary		: #41A74C;
$color-accent-1			: #8A67B7;
$color-accent-2			: #8DCF94;
$color-accent-3			: #63ACC2;
$color-accent-4			: #A186C3;
$color-default			: #384D48;
$color-default-inverse		: #FFFFFF;

$gradient-purple                :linear-gradient(157deg, #A48AC8 33%, #947BB7 100%);
$gradient-blue                  :linear-gradient(157deg, #71BDD4 33%, #54A8C1 100%);
$grey-dark                      : #5D6C71;
$grey-medium                    : #E9EEF1;
$grey-light                     : #F7F7F7;

///SPACING
$spacing--xs:  1rem; //15px
$spacing--sm:  2rem; //30px
$spacing--md:  3rem; //45px
$spacing--lg:  4rem; //60px
$spacing--xl:  5rem; // 75px
$spacing--xxl: 6rem; // 90px

// FONTS
$font-main                      : 'Zilla Slab', serif;
$font-body                      : 'Work Sans', sans-serif;

//font sizes
$fontsize-small: 1.066666667rem; //16px
$fontsize-regular: 1.2rem; //18px
$fontsize-h1: 4.8rem; //72px
$fontsize-h2: 2.666666667rem; //40px
$fontsize-h3: 1.6rem; //24px
$fontsize-h4: 1.333333rem; //20px
$fontsize-h5: 1.2rem; //18px

//font weight

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;

// PATHS
$path-img		: '../images/compressed';
$path-font		: '../fonts';

//OTHER
$container: 1440px;
$border-radius: 3px;
$box-shadow-1: 0 1px 4px rgba(0,0,0,.20);
$box-shadow-2: 0 2px 8px rgba(0,0,0,.20);
$line-height: 2.3333333rem; //35px
$line-height-small: 1.66666667rem; //25px