/**----- 01 TYPOGRAPHY // 1.1 Global Typography Settings-----**/
html {
    /**font-size: 16px ; this font size determines the baseline for all padding,margin, font sized units using ems or rems throughout the entire theme*/
	font-size: 15px;
	
}// end html

body {
	font-family: $font-body;
	color: $color-default;
        font-weight: $font-regular;
        line-height:2rem;
        font-size: $fontsize-regular;
}//end body

/**----- 01 TYPOGRAPHY // 1.2 Headings -----**/

h1, h2, h3 {
	font-family: $font-main;
	text-align: left;
        color: $color-primary;
}// end universal h1, h2, h3 styles

h4, h5, h6 {
	font-family: $font-body;
	text-align: left;
        color: $color-primary;
}// end universal h1, h2, h3 styles


h1 {
    font-size: $fontsize-h1;
    font-weight: $font-regular;
    
    @include breakpoint (small only){
        font-size: $fontsize-h2;
    }//end small only
}// end h1

h2 {
    font-size: $fontsize-h2;
    font-weight: $font-regular;
    
    @include breakpoint (small only){
        font-size: $fontsize-h3;
        font-weight: $font-semibold;
    }//end small only
}// end h2

h3 {
    font-size: $fontsize-h3;
    font-weight: $font-regular;
}// end h3

h4{
    font-size: $fontsize-h4;
    font-weight: $font-medium;
}//end h4

h5{
    font-size: $fontsize-h5;
    font-weight: $font-regular;
    color: $color-default;
}//end h5

h6{
    color: $color-default;
}//end h6

ul, ol {
    line-height:2rem;
    font-size: $fontsize-regular;
    
    & > li {
        & > ul {
            list-style: circle;
            padding-top: $spacing--xs;
        }//end nested ul
    }//end li
}//end ul and ol

p{
    font-size: $fontsize-regular;
    line-height:2rem;
    
    @include breakpoint (small only){
        font-size: $fontsize-small;
    }//end small breakpoint
}//end p

a{
    color: $color-primary;
    text-decoration: underline;
    @include transition (all .2s ease-in-out);
    
    &:hover{
        color: $color-secondary;
        @include transition;
    }//end hover
}//end a

#content .entry-content p{
    font-size: $fontsize-regular;
    line-height:2rem;
    
    @include breakpoint (small only){
        font-size: $fontsize-small;
        line-height: $line-height-small;
    }//end small breakpoint
}

li{
    margin-bottom: $spacing--xs/2;
}//end li




