.button{
    padding: $spacing--xs $spacing--sm;
    text-decoration: none;
    font-size: $fontsize-regular;
    font-weight: $font-medium;
    border-radius: $border-radius;
    line-height: 1rem;
    background: $gradient-purple;
    @include transition;
    
    &.button--secondary{
        border: 3px solid $color-accent-1;
        color: $color-accent-1;
        background: transparent;
        padding: 13.5px $spacing--sm;
        
        &:hover{
            background: transparent;
        }//end hover
    }//end .secondary
    &:hover{
        transform:scale(1.03);
        background: $gradient-purple;
        @include transition;
    }//end hover
}//end .button

#content{
    .page-navigation{
        .pagination{
            padding-right: $spacing--lg;
            
            @include breakpoint (small only){
                padding: 0;
            }//small only breakpoint

            li{
                font-size: 1.4666667rem;
                background: none;
                a{
                    padding: .66667rem $spacing--xs;
                    text-decoration: none;
                    color: $color-primary;
                    border: 3px solid $color-primary;
                    border-radius: $border-radius;
                    font-weight: $font-medium;
                    line-height: 1;
                    margin-right: $spacing--sm;
                    
                    @include breakpoint (small only){
                        margin-right: $spacing--xs;
                    }//small only breakpoint

                    &:hover{
                        background-color: $color-primary;
                        color: $color-default-inverse;
                    }//end hover
                }//end a
                
                &.next, &.prev{
                    a{
                        padding: .66667rem $spacing--sm; 
                    }//end a
                }//end .next and .prev
                
                &.current span {
                    padding: .66667rem $spacing--xs;
                    text-decoration: none;
                    font-weight: $font-medium;
                    border: 3px solid $color-primary;
                    border-radius: $border-radius;
                    background-color: $color-primary;
                    line-height: 1;
                    margin-right: $spacing--sm;
                    
                    @include breakpoint (small only){
                        margin-right: $spacing--xs;
                    }//small only breakpoint
                }//end span
            }//end li
        }//end .pagination
    }//end .page-navigation
}//end #content

.breadcrumb{
    p{
        margin-bottom: $spacing--md;
        color: $grey-dark;
        
        @include breakpoint (small only){
            margin-bottom: $spacing--xs;
        }//end small only
        a{
           text-decoration: none; 
        }//end a
    }//end p
}//end .breadcrumb

#backtop.button{
    background: $color-accent-3;
    border-radius: $border-radius;
    box-shadow: $box-shadow-1;
    z-index:9999;
    @include transition;
    
    &:hover{
        transform: scale(1.03);
        box-shadow: $box-shadow-2;
        @include transition;
    }//end hover
    
    .fa{
        font-size: 3rem;
    }//end .fa
}//end #backtop.button

.reveal-overlay{
    z-index: 99999;
    padding: $spacing--sm;
    #cumberland_video, #about_video{
        min-height: 1px;
        &.reveal{
            padding: 0;
            width: 100%;
            max-width: 1075px;
            border-radius: $border-radius;
            box-shadow: $box-shadow-2;
            border: none;
            background: none;
            .close-button{
                position: absolute;
                background-color: $color-accent-3;
                color: $color-default-inverse;
                top: $spacing--sm;
                right: $spacing--sm;
                border-radius: $border-radius;
                box-shadow: 1;
            }//end close-button

            @include breakpoint (small only){
                height: auto;

                .close-button{
                    top: $spacing--xs;
                    right: $spacing--xs;
                }//end .close-button
            }//end small only breakpoint
        }//end .reveal
    }//end cumberland_video
}//end .reveal-overlay

#content .button:focus{
    box-shadow: none;
}//end focus