// FOOTER //
footer.footer{
    background: $color-default-inverse;
    padding-top: $spacing--lg;
    padding-bottom: $spacing--md;
    
    @include breakpoint (small down){
        padding: $spacing--sm 0;
    }//end small only breakpoint
    .inner{
        @include inner;
        @include inner
        .row.footer-branding{
            padding: 0;
            border-bottom: 3px solid $grey-medium;
            padding-bottom: $spacing--sm;
            
            @include breakpoint (small only){
                border-bottom: 0;
            }//end small only breakpoint
            .columns{
                padding: 0;
            }//end columns    
            .social-container{
                .button-group{
                    margin-bottom: 0;
                    
                    @include breakpoint (small only){
                        text-align: center;
                        padding: $spacing--sm;
                        margin-bottom: $spacing--sm;
                        border-bottom: 3px solid $grey-medium;
                    }//end small only breakpoint
                    a{
                        padding: 10px 15px;
                        height: auto;
                        width: auto;
                        background: transparent;
                        text-align: left;
                        margin-right: $spacing--md;
                        box-shadow: $box-shadow-1;
                        border: 3px solid;
                        border-radius: $border-radius;
                        @include transition;
                        
                        @include breakpoint (medium only){
                            margin-right: $spacing--sm;
                        }//end medium only breakpoint

                        &:hover{
                            @include transition;
                            transform: scale(1.1);
                        }//end hover

                        &#facebook{
                            color: #3B5998;
                        }//end facebook

                        &#linkedin{
                            color: #0077B5;
                            margin-right: 0;
                        }//end linkedin
                    }//end a
                }//end button-group
            }//end .social-container
            
            .menu-footer-user-menu-container{
                text-align: right;
                @include breakpoint (small only){
                    text-align: center;
                }//end small only breakpoint
                ul{
                    li{
                        display: inline-block;
                        margin-right: $spacing--md;
                        
                        @include breakpoint (medium down){
                            font-size: $fontsize-small;
                        }//end medium down breakpoint
                        
                        @include breakpoint (small only){
                            width: auto;
                            margin: 0;
                            padding: $spacing--xs;
                        }//end small only breakpoint
                        
                        &:last-child{
                            margin-right: 0;
                        }//end last-child
                        
                        a{
                            color: $color-secondary;
                            text-decoration: none;
                            font-weight: $font-medium;
                            padding: 0;
                            @include transition;
                            
                            &:hover{
                                text-decoration: underline;
                                @include transition;
                            }//end hover
                        }//end a
                        
                    }//end li
                }//end ul
            }// end .menu-user-based-menu-container
        }//end .row.footer-branding
        
        nav{
            padding-top: $spacing--md;
            
            ul.menu{
                .row{
                    max-width:1025px;
                    margin-left: 0;
                    
                    li.main-menu-item{
                        padding: 0;
                        padding-right: $spacing--sm;
                        line-height: 18px;
                        
                        @include breakpoint (medium only){
                            font-size: 14px;
                            padding-right: 1.5rem;
                        }//end medium only breakpoint
                        
                        &>a{
                            font-weight: $font-medium;
                            text-decoration: none;
                            
                            &:hover{
                                text-decoration: underline;
                                @include transition;
                            }//end hover
                        }//end a
                        
                        &.active{
                            &>a{
                                color: $color-primary;
                            }//end a
                        }//end active
                        
                        ul.sub-menu{
                            margin-top: $spacing--xs;
                            &>li{
                                margin-bottom: $spacing--xs;
                                line-height: 22px;
                                &>a{
                                    font-size: $fontsize-small;
                                    text-decoration: none;
                                    color: $grey-dark;
                                    
                                    @include breakpoint (medium only){
                                        font-size: 14px;
                                    }//end medium only breakpoint
                                   
                                    &:hover{
                                         text-decoration: underline;
                                         @include transition;
                                    }//end hover
                                }//end a
                            }//end li
                        }//end ul.sub-menu
                    }//end li.main-menu-item
                }//end .row
            }//end menu
        }//end nav
        #footer-addons{
            margin: 0;
            margin-bottom: $spacing--sm;
            text-align: left;
            a{
                color: $grey-dark;
                font-size: $fontsize-regular;
                font-weight: $font-medium;
                text-decoration: none;
              
                &:hover{
                    text-decoration: underline;
                    @include transition;
                }//end hover
            }//end a
        }//end #footer-addons
        .footer-extras{
            position: relative;
            
            .columns{
               @include breakpoint (medium only){
                    width: 100%;
                }//end medium only breakpoint
            }//end columns
            .frn_footer{
                padding:0;
                background-color: transparent;
                
                @include breakpoint (medium only){
                    width: 75%;
                }//end medium only breakpoint
                p{
                    color: $grey-dark;
                    text-align: left;
                    font-size: $fontsize-small;
                    
                    @include breakpoint (medium only){
                        font-size: 14px;
                    }//end medium only breakpoint
                    
                    a{
                        text-decoration: none;
                        color: $color-primary;
                        
                        &:hover{
                            text-decoration: underline;
                            @include transition;
                        }//end hover
                    }//end a
                }//end p
            }//end .frn_footer
            #footer-creds{
                max-width: 142px;
                margin-right: 0;
                position: absolute;
                bottom: 0;
                right: 0;
                
                @include breakpoint (small only){
                    max-width: 100px;
                    margin: auto;
                    left: 0;
                    position: relative;
                    right: 0;
                }//end small only breakpoint
                
                .column.cred{
                    width: 100%;
                    padding: 0;
                    margin-bottom: $spacing--xs;
                }//end .cred__image
            }//end #footer-creds
        }//end .footer-extras
    }//end .inner
}//end footer.footer