// SHORTCODES
#content{
    #inner-content{
        .divider{
            height: 3px;
            background: $grey-medium;
            margin: $spacing--md 0;
        }//end .divider
    }//end inner-content

    blockquote{
        font-size: $fontsize-h4;
        color: $color-default;
        border-left: 3px solid $color-primary;

        cite{
            font-size: $fontsize-regular;
            font-style: normal;
            font-family: $font-main;
            color: $color-default;
            margin-top: $spacing--xs;

            &:after{
                content:'—';
                position: relative;
                display: inline-block;
                height: auto;
                width: auto;
                margin-right: 5px; 
                color: $color-default;
                float: left;
            }//end before
        }//end .cite
    }//end .blockquote

    .callout{
        box-shadow: $box-shadow-1;
        border: none;
        border-radius: $border-radius;
        color: $color-default;
        
        h2{
            font-size: $fontsize-h3;
            font-weight: $font-semibold;
        }//end h2
        
        ul{
            line-height: $line-height-small;
        }//end ul
        
        .button{
            background: transparent;
            border: 3px solid $color-primary;
            color: $color-primary;
        }//end .button
        
        &.grey-callout{
            background: $grey-light;
            box-shadow: none;
            border-radius: 0;
            
            h2{
                color: $color-secondary;
            }//end h2
            
            .button{
                color: $color-secondary;
                border-color: $color-secondary;
            }//end button
        }//end .grey-callout
        
        &.green-top{
            overflow: hidden;
            padding:0;
            padding-bottom: $spacing--sm;
            h2{
                background: $color-accent-2;
                width: 100%;
                padding: $spacing--sm;
                color: $color-default-inverse;
                font-size: $fontsize-h2;
                font-weight: $font-regular;
            }//end h2
            
            p, ul{
                padding: 0 $spacing--sm;
            }//end p
        }//end green-top
    }//end callout
    
    .divider{
        width: 100%;
        height: 3px;
        background: $grey-light;
        margin: $spacing--sm 0;
    }//end divider
    
    .tabs{
        border: none;
        background-color: $grey-light;
        display: table-cell;
        box-shadow: $box-shadow-1;
        .tabs-title{
            margin-bottom: 0;
            &.is-active{
                background-color: $color-default-inverse;
                border-radius: $border-radius $border-radius 0 0;
            }//end is-active
            a{
                color: $color-default;
                text-decoration: none;
                font-size: $fontsize-h4;
                font-weight: $font-semibold;
                padding: $spacing--xs;
                
                @include breakpoint (small only){
                    font-size: $fontsize-regular;
                }//end small only breakpoint
        
                &:focus, &[aria-selected=true]{
                    background: none;
                }//end a focus and selected
            }//end a
        }//end tabs-title
    }//end tabs
    
    .tabs-content{
        box-shadow: $box-shadow-1;
        border: none;
        padding: $spacing--sm;
        border-radius: 0 $border-radius $border-radius $border-radius;
        
        @include breakpoint (small only){
            padding: $spacing--xs
        }//end small only breakpoint
        .tabs-panel{
            padding: 0;
            h2{
                font-size: $fontsize-h3;
                font-weight: $font-semibold;
            }//end h2

            p{
                font-size: $fontsize-small;
                line-height: $line-height-small;
            }//end p
        }//end tabs-panel
    }//end .tabs-content
    
    ul.accordion{
        li.accordion-item{
            box-shadow: $box-shadow-1;
            border-radius: $border-radius;
            margin-bottom: $spacing--sm;
            .accordion-title{
                color: $color-primary;
                text-decoration: none;
                border: 0;
                padding: $spacing--sm;
                font-size: $fontsize-regular;
                @include transition;
                
                &[aria-selected=true], &:focus{
                    background: $color-default-inverse;
                }//end [aria-selected=true]]
                
                &:hover{
                    background: darken($color-default-inverse, 5%);
                    @include transition;
                }//end &:hover
                
                &:before{
                    content:'\f107';
                    font-family: 'FontAwesome';
                    font-size: $fontsize-h2;
                    line-height: 1;
                    margin: 0;
                    top:calc(50% - 20px);
                }//end :before
                @include breakpoint (small only){
                    padding: $spacing--xs;
                    font-size: $fontsize-small;
                }//end small only breakpoint
            }//end .accordion-title
            
            &.is-active{
                .accordion-title:before{
                    content:'\f106';
                }//end before
            }//end is-active
            
            .accordion-content{
                border: none;
                color: $color-default;
                padding: $spacing--xs $spacing--md;
            }//end accordion-content
        }//end li.accordion-item
    }//end uk.accordion
}//end #content

.reveal{
    padding: $spacing--sm;
    font-size: $fontsize-small;
    line-height: $line-height-small;
    border-radius: $border-radius;
    box-shadow: $box-shadow-2;
    position: relative;
    overflow: visible;
    border: none;
    
    p{
        font-size: $fontsize-small;
        line-height: $line-height-small;
    }//end p
    
    .close-button{
        position: absolute;
        color: $color-primary;
        background-color: $color-default-inverse;
        top: -45px;
        right: -60px;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        box-shadow: $box-shadow-2;
        font-size: $fontsize-h3;
    }//end close-button
    
    @include breakpoint (small only){
        .close-button{
            top: $spacing--xs;
            right: $spacing--xs;
            color: $color-default-inverse;
            background: $color-accent-3;
        }//end close button
    }//end small only breakpoint
}//end .reveal