// SIDEBAR
.sidebar{
    @include breakpoint (medium only){
        display: none;
    }//end medium only brekpoint
    #sidebarcontent{
        border-radius: $border-radius;
        box-shadow: $box-shadow-2;
        margin-bottom: 0;
        max-width: none;
        padding: 0;
        background-color: #FCFCFC;
        overflow:hidden;

        &.is-stuck{
            //top: 175px !important;
        }
        .widget_text{
            font-size: $fontsize-h2;
            color: $color-default-inverse;
            background-color: $color-accent-2;
            padding: $spacing--sm $spacing--sm $spacing--xs;
            margin-bottom: $spacing--sm;
            position: relative;
            z-index:1;

            &:after{
                @include pseudo;
                height: $spacing--lg;
                bottom: -$spacing--xs;
                left: -$spacing--sm;
                right: -$spacing--sm;
                border-radius: 50%;
                background-color: $color-accent-2;
                z-index: -1;
            }//end after

            h4{
                text-align: center;
                font-size: $fontsize-h2;
                color: $color-default-inverse;
                font-family: $font-main;
                padding: 0;
            }//end h4
        }//end widget_text

        .widget_search{
            padding: $spacing--xs $spacing--sm;
            .search-form{
                padding: 0;
                position: relative;

                .search-field{
                    width: 100%;
                    height: auto;
                    background: $color-default-inverse;
                    border: 3px solid $grey-medium;
                    border-radius: $border-radius;
                    padding: $spacing--xs 0 $spacing--xs $spacing--md;
                    color: $color-default;
                    font-size: $fontsize-regular;

                    @include placeholder{
                        color: $grey-dark;
                        font-size: $fontsize-regular;
                        font-weight: $font-regular;
                    }//end placeholder
                }//end search-field

                .search-submit{
                    position: absolute;
                    float: none;
                    height: 50px;
                    width: 50px;
                    padding:0;
                    left: 0;
                    background-image: url(../images/compressed/search-icon-blue.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: transparent;
                }//end search-submit
            }//end search-form
        }//end widget_search

        .widget_nav_menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0 $spacing--sm;
                padding-bottom: $spacing--xs;
                li{
                    font-size: $fontsize-regular;
                    padding: $spacing--xs 0;

                    &:not(:last-child){
                        border-bottom: 2px solid $grey-medium;
                    }//end not last child
                    a{
                       text-decoration: none;
                       padding: 0;

                       &:after{
                            content: '\f105';
                            font-family: 'FontAwesome';
                            display: inline-block;
                            font-size: $fontsize-regular;
                            color: $color-primary;
                            margin-left: $spacing--xs;
                            font-weight: $font-regular;
                            @include transition;
                            }//end a:after

                            &:hover:after{
                                margin-left: 20px;
                                @include transition;
                            }//end hover after                    
                    }//end a
                }//end li
            }//end ul
        }//end .widget_nav_menu
        
        h2, .widgettitle{
            font-size: $fontsize-h2;
            text-align: center;
            color: $color-default-inverse;
            background-color: $color-accent-2;
            padding: $spacing--sm $spacing--sm $spacing--xs;
            margin-bottom: $spacing--sm;
            position: relative;
            z-index:1;
            font-family: $font-main;

            &:after{
                @include pseudo;
                height: $spacing--lg;
                bottom: -$spacing--xs;
                left: -$spacing--sm;
                right: -$spacing--sm;
                border-radius: 50%;
                background-color: $color-accent-2;
                z-index: -1;
            }//end after
        }//end h2
        
             ul.menu{
                list-style: none;
                margin: 0;
                padding: 0 $spacing--sm;
                padding-bottom: $spacing--xs;
                
                @include breakpoint (large only){
                    padding: 0 $spacing--xs $spacing--xs;
                }//large only breakpoint
                li{
                    font-size: $fontsize-regular;
                    padding: $spacing--xs 0;
                    margin-bottom: 0;

                    &:not(:last-child){
                        border-bottom: 2px solid $grey-medium;
                    }//end not last child
                    a{
                       text-decoration: none;
                       padding: 0;

                       &:after{
                            content: '\f105';
                            font-family: 'FontAwesome';
                            display: inline-block;
                            font-size: $fontsize-regular;
                            color: $color-primary;
                            margin-left: $spacing--xs;
                            font-weight: $font-regular;
                            @include transition;
                            }//end a:after

                        &:hover:after{
                            margin-left: 20px;
                            @include transition;
                        }//end hover after                    
                    }//end a
                    
                    &.active{
                        a{
                           background: none;
                           color: $color-primary;
                        }//and a
                    }//and active
                    
                    &.menu-item-has-children{
                        padding-bottom: 0;
                    }//end .menu-item-has-children
                    .sub-menu{
                        padding: 0;
                        padding-left: $spacing--xs;
                        li{
                            font-size: $fontsize-small;
                        }//end li
                    }//end .submenu
                }//end li
            }//end ul
    }//end #sidebar-container
}//end .sidebar
